[2014-04-30 08:57] strk opened #1 "Complete migration to "EXTENSION" mechanism"
We want the extension to be loadable via "CREATE EXTENSION".
Also we want to hook on the automated testing framework

[2014-05-08 08:50] #1 closed, assigned to nobody

[2014-05-08 08:57] strk opened #2 "Add CDB_SetUserQuotaInBytes(int) function"
Rather than expecting an externally installed _CDB_UserQuotaInBytes(), we should delegate that (or whatever else will be internally needed to deal with user quota) to a "configurator function".

This could be a cartodb.CDB_SetUserQuotaInBytes(int) method.

\cc @Kartones

[2014-05-08 09:08] strk opened #3 "Move functions documentation wiki pages"
Move them from https://github.com/CartoDB/cartodb/wiki/CartoDB-PLpgSQL

[2014-05-08 09:31] #3 closed, assigned to nobody

[2014-05-08 09:31] strk opened #4 "Fix travis build"
Currently failing: https://travis-ci.org/CartoDB/cartodb-postgresql/builds/24693469

[2014-05-08 11:30] strk opened #5 "Do not assume presence of "publicuser" user"
... or testsuite fails when it's not available.
See https://travis-ci.org/CartoDB/cartodb-postgresql/builds/24701157#L161

Related to #4

The assumption is ok when the tests are run as part of cartodb "make check", but not as a standalone extension.

It may be a good idea for the test to create the required user and drop it at the end
(prefixed appropriately to avoid clashes).

[2014-05-08 14:42] #5 closed, assigned to strk

[2014-05-08 15:14] #2 closed, assigned to strk

[2014-05-08 15:24] #4 closed, assigned to strk

[2014-05-08 16:24] javisantana opened #6 ""ERROR: type "spheroid" already exists" on install"
these are the commands I execute:

[code]

I'm executing on a current (non migrated) cartodb database

[2014-05-08 17:08] #6 closed, assigned to nobody

[2014-05-09 08:13] strk opened #7 "Jenks Bins fails to produce 3 bins for 3 values"
https://documentation.cartodb.com/api/v1/sql?q=SELECT%20CDB_JenksBins%28ARRAY[1,2,3],%203%29

\cc @javisantana

[2014-05-09 08:28] strk opened #8 "Add tests for calls to CDB_InvalidateVarnish on table create/alter/drop"
The test could install its own CDB_InvalidateVarnish function and have it print the received parameters.

[2014-05-09 08:34] strk opened #9 "Speedup DDL trigger test"
The test currently uses pg_sleep(1) to ensure the "updated_at" field in CDB_TableMetadata is updated. Would be better to reduce the sleep time.

[2014-05-09 08:49] javisantana opened #10 "move varnish invalidation to cartodb-postgres"
Since ideally the platform should work without rails app (cartodbpostgres + sql api + maps api) the invalidation should be in the extension so:
- CDB_Invalidate_Varnish() method should be in cartodb-postgres
- there should be some CDB_Config_Varnish or similar to configure it (it will be called from rails app or manually if you are not using it)
- If it's not configured, varnish invalidation is no

[2014-05-09 08:58] strk opened #11 "Fix DDL trigger test for updated_at"
The test assumes NOW() changes but it doesn't within a transaction.
The expected output is indeed bogus for updated_at (we should expect it to update).

[2014-05-09 09:15] #11 closed, assigned to strk

[2014-05-09 09:34] #9 closed, assigned to nobody

[2014-05-09 09:56] Kartones opened #12 "Move SQL code from Ruby to functions"
Following Ruby class contains SQL code that should live as DB SQL functions just called by ruby with appropiate parameters.
#### User.rb
- setup_user()

Includes following code

[code]
- ~~add_python() + create_function_invalidate_varnish()~~
- ~~create_trigger_function_update_timestamp()~~

Nice to have (especially regarding multiuser/orgs):
- set_database_permissions_in_schema()
- set_database_p

[2014-05-09 10:00] strk opened #13 "Let CDB_CheckQuota second parameter override _CDB_UserQuota"
When installing the new CDB_CheckQuota over an existing cartodb installation (not the extension way, but using scripts), all user quota triggers fail to enforce the quota, because no _CDB_UserQuotaInBytes() is present _and_ the second parameter passed to the function by the existing triggers fail to be honoured.

We could fix by honouring a second parameter when present.

Note that calling CDB_Car

[2014-05-09 10:00] Kartones opened #14 "Ruby should call CDB_SetUserQuotaInBytes()"
When we switch to "extension"  needs to be called from ruby side.

[2014-05-09 10:05] strk opened #15 "Consider quota on migration from unpackaged"
When creating cartodb extension from unpackaged we cartodbfy all tables having triggers that call the CDB_XXX functions. Doing so we basically drop the second parameter to the CDB_CheckQuota() function, loosing the quota information.

Since configuring the user database is now done using a function, failing to call that function by the "migrator" would leave the user database with no quota.

This

[2014-05-09 10:24] #14 closed, assigned to Kartones

[2014-05-09 10:27] #12 closed, assigned to nobody

[2014-05-09 10:56] #13 closed, assigned to strk

[2014-05-09 15:35] #8 closed, assigned to strk

[2014-05-12 11:22] strk opened #16 "Have _CDB_UserQuotaInBytes() take precedence over CDB_CheckQuota parameter"
A parameter passed to CDB_CheckQuota should only be used if no _CDB_UserQuotaInBytes() is provided. That way upgrading to config-based quota will not need running CDB_CartodbfyTable on each and every table.

[2014-05-12 11:27] strk opened #17 "Do not allow running CDB_CartodbfyTable while user quota is unset"
The CDB_CartodbfyTable function installs quota triggers that rely on the presence of a _CDB_UserQuotaInBytes() function to tell them what the user quota is.

For this reason it's better to refuse cartdbfying a table when the function isn't available.
The function would be created by calling CDB_SetUserQuotaInBytes(), which may be hinted by an exception.

[2014-05-12 11:27] #17 closed, assigned to nobody

[2014-05-12 11:38] #16 closed, assigned to nobody

[2014-05-13 14:05] Kartones opened #18 "CDB_CartodbfyTable not detecting ok if _CDB_UserQuotaInBytes exists"
[code]

Works (returns the bytes quota as expected), and

[code]

also returns a result.

But, when I try to do:

[code]

It fails:

[code]

I've run before all UPGRADE steps (including cartodb:db:load_functions), and the extensions are correctly built (and schema_triggers already installed).

[2014-05-13 14:41] #18 closed, assigned to strk

[2014-05-13 15:05] #15 closed, assigned to nobody

[2014-05-13 15:07] strk opened #19 "Consider not automatically enable DDL triggers"
I'm actually not sure about this, but I wonder if DDL triggers should only be enabled on demand, rather than automatically enabled at extension creation time.

[2014-05-13 15:18] strk opened #20 "Refuse to create new extension if legacy code is present on database"
You should be disallowed to "CREATE EXTENSION cartodb;" on a database already having cartodb objects installed. The only accepted way should be "CREATE EXTENSION cartodb FROM unpackaged;"

[2014-05-14 10:40] #20 closed, assigned to strk

[2014-05-14 10:56] strk opened #21 "Have CDB_TableMetadata tagged as a configuration table"
Failing to do so would not include the contents of CDB_TableMetadata in dumps, which might break relocation of cartodb databases.

\cc @zenitraM

[2014-05-14 10:58] strk opened #22 "Turn CDB_TableMetadata to a view"
The real metadata should be in a table which is only readable by the superuser while the CDB_TableMetadata should be a view that only allows users to see records for tables they have select privileges on.

Would likely be affected by #21 (tagging tables as configuration tables).
Might need to wait for 0.2, to do the change in a migration script.

[2014-05-14 11:00] strk opened #23 "CDB_UserTables() returns names of deleted tables"
Deleting tables via SQL-API does not prevent them from being returned by CDB_UserTables(). I guess that's due to CDB_TableMetadata still listing them, which is part of the broader problem of handling schema changes.

[2014-05-14 16:24] strk opened #24 "Fully qualify call to cdb_invalidate_varnish in CDB_TableMetadata trigger function"
The call is currently not qualified, making it a security concern.

[2014-05-14 17:03] #24 closed, assigned to strk

[2014-05-19 11:46] Kartones opened #25 "View using CDB_xxxx() breaks functions upgrade"
A user has created a view that performs at his user DB:

[code]

So, upon trying to reload all functions into that user DB the process fails

[code]

[2014-05-20 14:39] #25 closed, assigned to nobody

[2014-05-22 09:59] #19 closed, assigned to nobody

[2014-05-22 10:08] strk opened #26 "Ensure user quota is retained in dumps ?"
Right now dumping a database with the "cartodb" extension created will not add the _CDB_UserQuotaInBytes() function in the dump. That's probably because the function is created by a function of the "cartodb" extension, so it is considered part of the extension (as the ddl triggers).

But we should instead consider the user quota function as data!
So, either we mark the function as not being part o

[2014-05-22 10:33] #21 closed, assigned to nobody

[2014-05-22 10:44] Kartones opened #27 "CDB_CartodbfyTable should try to convert cartodb_id,created_at,updated_at"
Upon cartodbfying a talbe, CDB_CartodbfyTable should try to convert cartodb_id, created_at and updated_at fields if are found, as it is a common import scenario and duplicating them is safe for the data but not nice from the product point of view.

If conversion fails we'll rename them as it is currently doing.

See https://github.com/CartoDB/cartodb-postgresql/wiki/CartoDB-user-table

[2014-05-22 12:20] #27 closed, assigned to nobody

[2014-05-22 14:05] #26 closed, assigned to nobody

[2014-05-22 16:27] strk opened #28 "Add Last Updated info above each object"
The information will be useful for doing the upgrade scripts

[2014-05-23 08:49] strk opened #29 "Add CDB_TableMetadata inspection to the DDL trigger tests"
I've seen the DDL trigger tests succeed in the TableMetadataView but I'm sure they are supposed to fail instead, as the code tries to INSERT into CDB_TableMetadata which would be a view in that case.

[2014-05-23 09:04] #29 closed, assigned to nobody

[2014-05-23 14:09] strk opened #30 "new CDB_CartodbfyTable fails to re-cartodbfy tables on which views exist"
If you define a view on an already-cartodbfied table, the current CDB_CartodbfyTable fails to re-cartodbfy due to the attempt to ALTER COLUMN performed with hope of it being a no-op when all the altered parameters match the existing  configuration.

In particular, altering the type is the part that breaks. Needs a testcase, used to work before the recent change.

[2014-05-23 14:55] #30 closed, assigned to nobody

[2014-05-26 16:13] Kartones opened #31 "if created_at or updated_at break come empty, Cartodbfication breaks"
If a user tampers with an exported CSV and removes some created_at or updated_at (leaving the field empty), cartodbfication and import fails (at least from CSVs).

[code]

Cartodbfication has to either accept or discard the critical fields, not break under some scenarios, even if the user wrongly emptied cells exported from cartodb. The correct behavior in this case would be to rename the column a

[2014-05-27 16:17] strk opened #32 "DDL triggers prevent creating a table with a cartodb_id field"
Example (running as a non-superuser):

[code]

Debug logs:

[code]

By the look of it it seems that the idea of disable/enabling DDL triggers during operations of a single handler is not working as expected.

[2014-05-28 07:02] #32 closed, assigned to strk

[2014-05-28 07:52] #31 closed, assigned to strk

[2014-05-28 08:31] strk opened #33 "cartodb_id sequenced DEFAULT is not enforced"
When a cartodb_id field exists and is of acceptable type (any integer)
no effort is taken by CDB_CartodbfyTable to set a DEFAULT value incrementing an associated sequence.

It looks like the CartoDB Map Editor requires that, as it does not attempt to assign an explicit value to the cartodb_id field of newly created records.

\cc @Kartones

[2014-05-28 08:45] #33 closed, assigned to strk

[2014-05-28 14:06] strk opened #34 "Include git commit identifier in cdb_version() output"
Helps finding out exact commit deployed. \cc @Kartones

[2014-06-03 11:21] #34 closed, assigned to nobody

[2014-06-04 10:55] rochoa opened #35 "Make sed usage in Makefile compatible with Mac OS X"
Current usage of sed in Makefile is incompatible with Mac OS X sed version (coming from FreeBSD).

The current suggested workaround is to install gnu-sed from [Homebrew](http://brew.sh/), however it would be much nicer to make it compatible with Mac OS X. For more information check [Differences between sed on Mac OSX and other “standard” sed?](http://unix.stackexchange.com/questions/13711/differen

[2014-06-04 13:12] #35 closed, assigned to strk

[2014-06-06 08:58] strk opened #36 "Drop roles and permission management from the extension"
CartoDB roles for PostgreSQL are not clearly defined yet, so the extension will better not create any nor consider any. For the time being permissions will still be handled by the ruby counterpart.

[2014-06-06 09:03] #36 closed, assigned to strk

[2014-06-10 16:12] strk opened #37 "Fully qualify type names"
The presence of public tables with the name of any type used by any function in the cartodb extension might prevent successfully creating the extension.

In order to fix that we need to fully qualify type names.
It's not "date", but "pg_catalog.date" (for example).

[2014-06-11 16:05] strk opened #38 "CDB_CartodbfyTable forces duplicated unique index on cartodb_id"
When a table was created with PRIMARY KEY constraint on "cartodb_id" field,
calling CDB_CartodbfyTable on it creates a _second_ index.

The first index is called "tablename_pkey" , the second "tablename_cartodb_id_key".
The code of CDB_CartodbfyTable should be changed to avoid the second index when
a unique index already exists.

\cc @Kartones

[2014-06-11 17:30] #38 closed, assigned to strk

[2014-06-18 11:43] #28 closed, assigned to nobody

[2014-06-25 09:34] dpasis opened #39 "Cat: .git: No such file or directory"
I tried to install cartodb-postgresql but with no luck. There seems to be missing but I don't really know why is that. I downloaded the zip file and extract it and I'm using ubuntu server 14.04.
Below is the full error when executing make all install.

cartodb-postgresql$ sudo make all install
cat: .git: No such file or directory
make: **\* No rule to make target `scripts-enable/*.sql', needed by`

[2014-06-26 03:59] #39 closed, assigned to nobody

[2014-06-26 04:32] dpasis opened #41 "no schema has been selected to create"
I was in the stage of enabling cartodb on my local server but when i do
$ sh script/create_dev_user ${SUBDOMAIN}
--- Creating databases
*\* Invoke cartodb:db:setup (first_time)
*\* Invoke db:create (first_time)
*\* Invoke environment (first_time)
*\* Execute environment
*\* Execute db:create
[sequel] Created database 'carto_db_development'
[sequel] Created database 'carto_db_test'
*\* Invoke db:mi

[2014-06-26 09:07] #41 closed, assigned to nobody

[2014-07-03 20:44] aajimenezqs opened #43 "The 14 tests fails executing $make installcheck"
I has following the instruction for install cartodb-postgresql, but the command
    $ make installcheck
fails, with the output:

[code]

mkdir -p expected/test/
mkdir -p results/test/
for f in test/CDB_CartodbfyTableTest.sql test/CDB_DigitSeparatorTest.sql test/CDB_HeadsTailsBinsTest.sql test/CDB_HexagonTest.sql test/CDB_JenksBinsTest.sql test/CDB_QuantileBinsTest.sql test/CDB_QueryStatementsTest.

[2014-08-14 09:20] rochoa opened #48 "Make versioning less strict, follow semver"
Right now the extension versioning takes the manually given VERSION number, à la semver, plus the `git describe` information. It would be much better to use plain semver as it would ease the integration with cartodb project.

See: https://github.com/CartoDB/cartodb/issues/712
Jira REF CDB-3504

[2014-08-14 16:58] andrewxhill opened #49 "Evaluate including trgm extension on postgresql builds"
http://www.postgresql.org/docs/9.2/static/pgtrgm.html

[2014-08-14 16:59] andrewxhill opened #50 "Evaluate including hstore extension on pg builds"
http://www.postgresql.org/docs/9.0/static/hstore.html

[2014-08-14 16:59] andrewxhill opened #51 "Evaluate including pgrouting on pg builds"
http://pgrouting.org/

[2014-08-25 14:26] rochoa opened #54 "Extension of CDB_LatLng"
extended cdb_latlng to accept (text) and (text, text) inputs. also handles comma as decimal point as a special case e.g. 121,39::text = 121.39::numeric

[2014-10-15 18:00] #43 closed, assigned to nobody

[2014-10-21 13:13] javisantana opened #55 "cdb_cartodbifytable does not make cartodb_id PK"

[2014-10-21 14:44] #55 closed, assigned to Kartones

[2014-10-29 12:00] Kartones opened #57 "CDB_drop_triggers & CDB_create_triggers are too fragile"
If any trigger exists upon calling CDB_create_triggers the whole process dies.

As we've already faced scenarios of users not having all triggers, we need to be able to activate a "continue on error" from Rakes and half-deleted user cleanups.

[2014-10-29 15:41] zenitraM opened #58 "Think how to invalidate materialized views"
Coming from: https://cartodb.atlassian.net/browse/CDB-3931

We should invalidate materialized views by adding a DDL trigger on the REFRESH action of the view.. but then views can only be created over the SQL API.

Invalidating with the source table wouldn't work: you have to REFRESH the view for the changes to be applied.

Maybe adding a CDB_CartodbfyView which only adds the invalidation trigger?

[2014-11-13 10:38] juanignaciosl opened #59 "Batch _CDB_populate_the_geom_from_the_geom_webmercator"
From CartoDB/cartodb#1144: _CDB_populate_the_geom_from_the_geom_webmercator is throwing timeout errors for some users. Since function receives a table the query is a select thus can't be batched. We need to modify the function so it's internally batched or accepts batching somehow.

[2014-11-19 05:49] theblackdie opened #60 "test test_ddl_triggers ... FAILED"
I followed step by step the installation procedure on a new Ubuntu 12.04 machine (updated to the latest patch)

And I have an error while testing triggers:

`sudo PGUSER=postgres make installcheck`

the error I got is :

1 of 15 tests failed.
test test_ddl_triggers        ... FAILED

The differences that caused some tests to fail can be viewed in the
file "/home/mentis/cartodb-postgresql/regressio

[2014-11-19 11:30] Kartones opened #61 "Bump cartodb-postgres to 1.0"
Currently, performing a sed replacement for changing public.xxxx to cartodb.xxxx impedes easier testing of cartodb-postgres extension (for example using the test.sh scripts) and difficults reading the code.

By bumping version to 1.0 we will signal a compatibility break jump, although probably there will be few scenarios where this will cause issues.

This bumping will consist of:
- [ ] Replacemen

[2014-11-20 11:33] javisantana opened #62 "create CDB_ZoomFromScale"
from stamen
[code]

[2014-11-26 12:36] javisantana opened #63 "make cdb_tablemedata not accesible to public user"
right now that table is accesible by a public user, drop those permissions.

This may affect other applications like sql api and maps api

cc @rochoa

[2014-12-02 10:46] javisantana opened #64 "CDB_UserTables returns 0 entries for multiuser accounts"

[2014-12-29 11:31] juanignaciosl opened #65 "Slow quota check"
Finding out why CartoDB/cartodb#1573 threw timeout errors, we found out the following issue at `CDB_UserDataSize`:

[code]

[code]

Querying `information_schema.tables` view is slow and costly. A temporal workaround is disabling quota checks, but it should be improved, since it's performed many times.

[2014-12-29 11:48] javisantana opened #66 "know if you are under multiuser account"
there is no easy way to know if the account is a MU account using SQL.

Basically the easier check is if "select current_schema()" returns "public" you are under a single user account

[2015-01-28 08:44] javisantana commented on #65
this query gives the same results but 100x

[code]

schema_name i used is 'javi'

[2015-02-17 11:14] Kartones opened #69 "Imported tables have huge filesize difference than pg_relation_size"
Relates to https://github.com/CartoDB/cartodb/issues/2204 .

Need to change `CDB_Quota.sql` function `CDB_UserDataSize` to use `pg_relation_size`

[2015-02-17 11:58] Kartones commented on #69
Although we're not counting overviews, skipping indexes and the like makes raster tables appear to be quite smaller than really are. In a test I got size disparity from ~17.8MB to ~2.4MB

[2015-02-17 13:43] Kartones commented on #69
Will proceed anyway and count only live rows space.

[2015-02-17 15:32] Kartones commented on #69
tagged as 0.5.3

[2015-02-19 13:17] rochoa commented on #48
This was already fixed.

[2015-02-19 13:17] #48 closed

[2015-02-19 13:18] rochoa commented on #63
This was fixed in https://github.com/CartoDB/cartodb-postgresql/releases/tag/0.6.0

[2015-02-19 13:18] #63 closed

[2015-02-19 13:28] #62 closed

[2015-03-03 09:21] rafatower opened #73 "CDB_StringToDate should output a TIMESTAMP rather than a DATE"
See https://github.com/CartoDB/cartodb/issues/990 and https://github.com/CartoDB/cartodb/issues/290 and refer to http://www.postgresql.org/docs/9.3/static/datatype-datetime.html

[2015-03-03 15:36] rafatower commented on #73
[code]

[2015-03-03 17:34] rafatower commented on #73
Fixed upgrade

[2015-03-03 17:34] #73 closed

[2015-04-07 13:39] pramsey opened #77 "Improve CDB_Cartodbfy performance"
Right now CDB_Cartodbfy applies potentially quite a large number of sequential `UPDATE` statements that touch every record in the table. To make matters worse, it generally adds a bunch of indexes first, guaranteeing that every record in the indexes as well as every record in the tables will have to be touched, as many as N times.  N is determined by how "close" a particular table is to proper "ca

[2015-04-14 10:01] #69 closed

[2015-04-22 05:26] elesdoar commented on #64
Sometimes returns ```geocoding_cache_xxxxx ``` tables

[2015-04-24 10:31] #65 closed

[2015-05-25 08:56] javisantana opened #82 "raise an error when cartodbfy tables with more than 53 caracters"
https://github.com/CartoDB/cartodb/issues/3747

[2015-05-26 11:53] danicarrion commented on #64
I'm not really into the details of what exactly CDB_UserTables must return, but this query returns the same result as current CDB_UserTables does for a regular user, for both a regular user and a user that is part of an organization, at least in the few tests I've done:

[code]

[2015-05-26 16:51] pramsey commented on #64
I think this query is expected to be runnable by anyone, both public and private, so accessing the system tables may not be allowed (unless that has changed...)

[2015-05-26 16:52] javisantana commented on #64
this should return public tables only

[2015-05-26 16:55] pramsey commented on #64
In order to fix this function, it would be great to know what it's supposed to be doing. Since it's broken, we can't figure that out be examining the code itself. Could you give us the precise information it's supposed to be returning?

[2015-05-26 16:58] pramsey commented on #64
Variation on @danicarrion's result, removing system tables
[code]

[2015-05-28 10:11] Avrelin commented on #60
Have the same issue on Ubuntu 14.04, added shared_preload_libraries = 'schema_triggers.so' and restarted postgresql service -> still no luck

Any help would be appreciated.

[2015-06-01 13:16] danicarrion commented on #64
I've checked Paul's function with an org user and the results make sense to me.

[2015-06-01 13:25] pramsey commented on #64
No kidding, playing with the guts blind gives me the willies.

[2015-06-01 13:47] danicarrion commented on #64
@javisantana who can we ping about this?

[2015-06-01 13:49] javisantana commented on #64
@danicarrion -> @pramsey

[2015-06-01 13:54] pramsey commented on #64
Hokay, I'm going to go on the theory that if I can pass the tests in the repo, it's safe to commit...

[2015-06-01 14:09] danicarrion commented on #64
i can cross my fingers if that helps ;-)

[2015-06-01 18:51] pramsey commented on #64
Pull request #83 should do the trick (inshalah)

[2015-06-01 19:19] pramsey commented on #64
Hey @rochoa how do you feel about a 0.7.4 release?

[2015-06-01 20:24] rochoa commented on #64
We should! Shouldn't we?

I will try to get out a new version by EOW, does that work for you?

[2015-06-01 20:45] pramsey commented on #64
It entirely does work for me.

[2015-06-02 07:25] mattcen commented on #60
I've the same issue. I did a clean install of Ubuntu 12.04 and followed the current cartodb installation instructions to the letter. I don't know Postgres well enough to know where to look for a solution.

[2015-06-08 15:51] pramsey commented on #64
Hey @rochoa, I don't see a new version number in the repo, should that happen when a new version is released?

[2015-06-12 14:08] javisantana opened #85 "move the doc from wiki to the doc folder"
So it can be tagged

[2015-06-15 17:29] juanignaciosl commented on #60
I've just done a clean install of CartoDB under Ubuntu 12.04 by following instructions and it worked like a charm, although I had to do [the schema triggers fix that is described at cartodb-postgresql instructions](https://github.com/CartoDB/cartodb#install-cartodb-postgresql). Please check the following:
- Ubuntu version, currently only 12.04 is supported.
- [You've edited `pg_hba.conf` connectio

[2015-06-15 17:29] #60 closed

[2015-06-18 12:45] rafatower opened #86 "Long table names causing trouble"
See https://github.com/CartoDB/cartodb/issues/3808

The problem is the 63 char limit for identifiers.
- `CDB_QueryTables` returns `name[]`, containing `"schema.table"`'s that can exceed 63 chars in total
- When trying to join that with `CDB_TablesMetadata`, `name`'s potentially do not fit in a `regclass`

We should probably modify `CDB_QueryTables` to return `(schema, table)` pairs

[2015-06-18 13:46] rafatower commented on #86
Some quick tests against 9.3:
[code]
It will be hard to find a workaround for this without modifying `CDB_QueryTables`

[2015-06-18 13:56] rafatower commented on #86
Makes sense since `name` is limited to 64 bytes: http://www.postgresql.org/docs/9.3/static/datatype-character.html

The quickest thing to do is create another version of `CDB_QueryTables` with different return type.

[2015-06-18 14:26] rochoa commented on #86
With the help of @rafatower we just validated that using regclass[] as return type would fix some of the problems we have in https://github.com/CartoDB/Windshaft-cartodb/blob/2.5.0/lib/cartodb/api/query_tables_api.js#L36-L43 Find bellow a patch.

However changing the return type might break some uses of the function.

[code]

[2015-06-18 15:09] rafatower commented on #86
I thought of writing a new func called `CDB_QueryTablesRegclass` and then rewrite the original `CDB_QueryTables` ~~but then it loses the information about the schema.~~.

A better option is to check if it always does automatic casting from regclass to name when required (I guess we can write a test for that) and go ahead and change the function's signature.

[2015-06-23 16:14] rafatower commented on #86
@javisantana @rochoa @pramsey looking forward to hear your opinion on my comment right above.

My vote for option 2.

[2015-06-23 16:19] pramsey commented on #86
2 or 3. If you can make the global change, why not? Less complexity in long run

[2015-06-24 14:17] danseely commented on #60
I see this issue is closed, but I'm still seeing the failure of this test. Clean Ubuntu 12.04 install, following installation instructions exactly -- including editing `pg_hba.conf` and `postgresql.conf` as noted above. Below is my `test_ddl_triggers.out`.

[code]

[2015-06-24 14:52] danseely commented on #60
Oddly, test now passes after a system reboot. ¯\_(ツ)_/¯

[2015-06-24 15:28] juanignaciosl commented on #60
Restarting PostgreSQL (twice) worked for me  ¯_(ツ)_/¯

[2015-06-24 17:15] danseely commented on #60
That's interesting, I wonder if PostgreSQL just needed another restart. Hmm.

[2015-06-24 17:27] pramsey commented on #60
Well, the ddl triggers are loaded in a preload so certainly a single restart would be required at a minimum to get fresh ones up and running

[2015-06-25 08:13] rafatower opened #89 "Test changes in extension and make it ready for deploy"
cc/ @ohasselblad

[2015-06-25 12:45] ohasselblad commented on #89
:+1:

[2015-06-25 13:54] #89 closed

[2015-06-30 10:53] rafatower commented on #64
The `name` type can give some headaches https://github.com/CartoDB/cartodb-postgresql/pull/83#discussion-diff-33560557

We should define what's part of the "public API" and what's not and be careful when changing function signatures.

I'm gonna open an issue to add a migration test to the suite.

[2015-06-30 10:56] rafatower opened #94 "Add an upgrade test to the regression"
This was found during manual testing:
[code]
A silly mistake that shall be caught automatically. Test upgrade path from version N-1 to version N.

[2015-07-01 14:02] #85 closed

[2015-07-06 13:21] javisantana opened #95 "cdb_usertables should return public tables when the user is publicuser"
form mail:
[code]

[2015-07-07 08:59] alonsogarciapablo opened #96 "Regression test is failing on my dev VM"
When running `sudo PGUSER=postgres make installcheck` on my development VM, I'm getting the following error:

[code]

There's a `regression.diffs` file that contains some details about the failing test. Please ping me if you think that file can help diagnose the failure. Thanks!

[2015-07-07 12:51] #95 closed

[2015-07-07 12:54] pramsey commented on #96
Look at the diff file and see where the CDB_XYZ_ExtentTest fails and drop that particular entry into the ticket, please :)

[2015-07-07 13:00] alonsogarciapablo commented on #96
[code]

[2015-07-07 13:13] pramsey commented on #96
OK, should be better at 011a007

[2015-07-08 12:49] iriberri opened #98 "Subuser doesn't have permissions to instantiate a public layer from other user in the org"
**Steps to reproduce**:

(In an organisation, with user A and user B)

* Create two tables in user A, both public with link
* In one of them, add read permissions to user B

If you try to use SQL, user B can query both tables as expected with:

[code]

On the other hand, if you try to use createLayer with them:

[code]

You get:

[code]

and the layer is not rendered in the map.

cc @rochoa @javis

[2015-07-08 19:55] #96 closed

[2015-07-08 21:26] alonsogarciapablo commented on #96
Thanks!

[2015-07-27 08:51] javisantana commented on #98
for reference: https://github.com/CartoDB/cartodb-postgresql/commit/1b3db28a741582fc0b6d367bcffd8f0850e92acb#diff-09055399b3e05eafd42d8b91c07cf8f8R359

[2015-07-27 15:39] iriberri opened #101 "Add cdb_iscartodbfied function"
@javisantana just told me that it would be great to create this function so that we're able to check if a table is cartodbfied or not

[2015-07-28 12:09] dhthong92 commented on #60
Well, I've try 3 times in different computers but also failed. But the problem is I've built it success three days ago, in another computer. My OS is Ubuntu LTS 14.04. I don't know what happens  and how to solved, seem like still exist any bug in there

[2015-07-28 12:16] juanignaciosl commented on #60
Currently we only support Ubuntu 12.04. It doesn't mean you can't install it elsewhere, of course, but it might be more difficult as installation guide only covers that version.

[2015-07-29 05:18] elesdoar opened #102 "function cdb_columnnames(name) does not exist"
Query:

[code]
Return function cdb_columnnames(name) does not exist

[2015-07-29 06:37] javisantana commented on #102
Could you provide more info, it work as expected for me:

https://rambo-test.cartodb.com/api/v1/sql?q=select%20CDB_ColumnNames(%27testing%27)

[2015-07-29 09:27] javisantana commented on #64
fixed https://javi.cartodb.com/api/v1/sql?q=select%20count(*)%20from%20cdb_usertables()

ref https://github.com/CartoDB/cartodb-postgresql/commit/df36e83cb552bb8cb287a12b53a562730003807f

[2015-07-29 14:33] elesdoar commented on #64
:+1:

[2015-07-29 14:44] elesdoar commented on #102
Simple query:

[code]
It works correctly, but nested query

[code]
It not works, return `function cdb_columnnames(name) does not exist` :tired_face:

[2015-08-06 14:45] juanignaciosl opened #103 "Extension Group API"
See CartoDB/cartodb#4824

[code]

These functions should call editor endpoints to guarantee metadata sync with the database.

[2015-08-10 13:07] javisantana opened #105 "create api documentation"
Start moving the wiki doc to the repo.

We will use sphinx format

[2015-08-10 14:05] juanignaciosl opened #106 "Refactor Organization API"
After #103 , refactor Organization API to use Group API.

cc @rochoa

[2015-08-10 14:45] rochoa commented on #106
:sweat_smile:

[2015-08-11 09:02] rochoa commented on #102
@elesdoar, as `CDB_ColumnNames` expects a regclass and `CDB_UserTables` returns set of `name` casting to `::text` or `::regclass` should do the trick. Try with:

[code]

[2015-08-11 14:52] elesdoar commented on #102
:scream: :scream: Thank you, It's perfect for me.

[2015-08-11 14:52] #102 closed

[2015-08-12 17:05] rochoa opened #108 "CDB_UserDataSize is not safe, might raise error"
It might raise `ERROR: relation "*" does not exist`.

[`pg_total_relation_size` might run against an nonexistent relation](https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_Quota.sql#L27) the table list is [previously populated in a CTE](https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_Quota.sql#L12-L18) and between list generation and c

[2015-08-12 18:25] javisantana commented on #108
maybe removing the CTE and doing it as a subquery?

[2015-08-13 13:37] pramsey commented on #108
Huh, well color me surprised. The [docs](http://www.postgresql.org/docs/9.3/static/queries-with.html) seem to indicate that all parts of a CTE work on independent contexts...

I wonder if the system tables are not managed quite as strictly as the data table WRT to snapshots in MVCC. So, seems like a legitimate problem, and testing ahead of time is reasonable, or wrapping the call to `pg_total_rela

[2015-08-13 13:51] rochoa commented on #108
Thanks a lot @pramsey!

Considering that information and having in mind your comment about functions' transactions I guess it's enough to use the extra function with the [`if exists` approach proposed in PR 110](https://github.com/CartoDB/cartodb-postgresql/pull/110/files#diff-9fa52dabd2b17fda5a74293051ab35d0R4).

Or I'm missing something and we still need to wrap it with an exception block?

[2015-08-13 13:55] pramsey commented on #108
I think the `IF` approach will be fine, or your all-in-one query, which is nice.

[2015-08-13 16:37] rochoa opened #111 "All user/role management should happen within the extension"
Right now user/role management happens in several places, most of it in [CartoDB/cartodb](https://github.com/CartoDB/cartodb) Rails application:
 - creating user
 - creating publicuser
 - grant permissions on schemas
 - creating schemas
 - etc

The ideal scenario would be to have an API inside the extension to manage all those cases. That would help to remove the hard dependency on CartoDB/cartodb

[2015-08-13 16:38] rochoa commented on #111
One case that should be fixed by this: https://github.com/CartoDB/cartodb/issues/5019

[2015-08-13 17:01] #108 closed

[2015-08-18 08:56] juanignaciosl opened #114 "Grant org admin user to drop groups"
During #104 we hit against a limitation: an org admin role can't drop groups, because dropping the role groups implies dropping all permissions granted to that role. When a user grants permissions on a table to a group he's the owner of that permission, and the admin can't drop it.

Right now only postgresql user can drop groups.

[Relevant code](https://github.com/CartoDB/cartodb-postgresql/pull/

[2015-08-18 14:29] juanignaciosl opened #115 "CDB_CONF configuration table"
- `cartodb.CDB_CONF` table.
- `cartodb.CDB_Conf_SetConf`.
- `cartodb.CDB_Conf_RemoveConf`
- `cartodb.CDB_Conf_GetConf`

Cached with SD.

Will be merged with CartoDB/cartodb-postgresql#104

Alternatives for `CDB_Conf.conf` type:
A) Different entry for each value.
B) Force JSON type for value.
C) Keep text type for value and let clients store whatever they need.
*X) other*

[2015-08-19 09:27] juanignaciosl commented on #115
1.- @rochoa , @javisantana has declined the decision of value storage format. Which one would you prefer?

2.- I've done some changes in order to secure access to configuration. See 70fe432102539991a750eee5b9dc71a9628a232f. Since CDB_Conf has sensitive information we don't want anybody to have access. I've dropped read permission on that table so only a superuser can read it. This forces the need

[2015-08-19 11:34] rochoa commented on #115
I proposed some alternatives:

1. key+value per row: limited to text, have to handle results

[code]

2. json config value: easy to cast values, can add some kind of validation to check all keys are present, postgresql will validate json is valid for you

[code]

3. use hstore extension: requires installing the extension (it comes by default with postgresql), validations are also possible, easy to

[2015-08-19 16:25] oriolbx opened #116 "import error cartodb-staging"
I've export the world_borders dataset from my account at user.cartodb.com in two formats (.csv and .geoJson) and I've tried to upload them in my account in user.cartodb-staging.com, but the import process fail.

In the logs it shows this error:

Exception: PG::Error: ERROR:  CDB(_CDB_Rewrite_Table:XX000:transform: couldn't project point (180 -90 0): tolerance condition error (-20)): CREATE TABLE p

[2015-08-19 16:27] rafatower commented on #116
cc/ @pramsey this might be a blocker. I'll take a further look and try to provide more debugging info. Any help appreciated.

[2015-08-19 16:31] pramsey commented on #116
Presumably this isn't a new problem? How do we create `the_geom_webmercator` right now that avoids the problem of infinities at the edges of mercator?
[code]

[2015-08-19 16:33] javisantana commented on #116
we do some nasty things to avoid that problem: https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_TransformToWebmercator.sql#L8

[2015-08-19 16:34] pramsey commented on #116
OK, so this is a relatively easy fix then.

[2015-08-19 16:35] javisantana commented on #116
@pramsey do you think that could be improved?

[2015-08-19 16:37] rafatower commented on #116
I'd just use that function directly and we can defer improvements to the next version. Opinions?

[2015-08-19 16:38] pramsey commented on #116
Mercator function looks fine to me, use that.

[2015-08-19 16:38] javisantana commented on #116
<censored>

[2015-08-19 16:49] #103 closed

[2015-08-19 17:39] #116 closed

[2015-08-20 08:56] juanignaciosl commented on #115
Done 2. Closing this, won't merge PR yet. Thank everybody :-)

[2015-08-20 08:56] #115 closed

[2015-08-20 09:16] rochoa commented on #115
Perfect! :rocket:

[2015-08-20 09:44] MariaCheca opened #117 "Import dataset fail in staging"
Importing a dataset in staging gives an upload error that doesn't happen in production.

Follow these steps to reproduce it:

1. Download [this dataset](https://mariacheca.cartodb.com/tables/public.meteorite_landings/public/map) as csv.
2. Try to upload it from the dataset uploader with version 0.9.1 of the extension **disabling data type guessing**.
3. Fails, returning this:
[code]

[2015-08-20 09:57] rafatower commented on #117
I tested it without [this patch](https://github.com/CartoDB/cartodb-postgresql/commit/5dd497bf202b8fd23f31aa20b19c3f9f738dcdb3) (against 0.9.0) and it worked ok. I'll keep investigating...

[2015-08-20 10:01] rafatower commented on #117
Couldn't reproduce it against 0.9.1 either in local.

[2015-08-20 10:20] rafatower commented on #117
The disabling type guessing is fundamental to reproduce the issue. The trace
[code]

I'll try to provide a simpler scenario to reproduce. I think what happens is that without type guessing `the_geom` is imported as string and discarded as valid geom column.

[2015-08-20 10:37] rafatower commented on #117
Right before cdb_cartodbfytable:
[code]
so it is supposed to have a column `the_geom`

[2015-08-20 10:55] rafatower commented on #117
Full trace [here](https://gist.github.com/rafatower/be95c40639d9195e949e)

Some relevant things:
[code]

[2015-08-20 11:08] rafatower commented on #117
`DEBUG:  CDB(_CDB_Rewrite_Table): found no extra columns` ???

[2015-08-20 12:41] rafatower commented on #117
@javisantana @pramsey this is getting funnier. There are lots of corner cases hidden in IF/ELSE branches. I'll do my best to get a fix with minimal impact for this.

[2015-08-20 12:47] pramsey commented on #117
Well, I can understand having the text `the_geom` case fail, *although* since you patched the function to create NULL'ed columns in the case of missing a geometry column, even that case shouldn't fail, it should just do a bad import. The "has_usable_geoms f" log entry just means that the function couldn't find geometry columns it could use *without rewriting the table* so a table rewrite would be

[2015-08-20 12:55] rafatower commented on #117
I understand the high level approach and I'm ok with it. What I'm saying is that we can have many scenarios and we're having problems with some of them. Just trying to find the most pragmatic solution.

we can have many combinations there: 4326 and 3857 present, one present and the other absent, both absent.

https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_Cartodbfy

[2015-08-20 13:19] pramsey commented on #117
Well, the question is what conditions are getting it into the NOT FOUND case in the first place... because it's clearly not expected. It looks like a geometry-typed column with a zero-valued SRID slips into the gaps between the conditions.

`geom_column_source` is initialized to `''` up top, so that's taken care of. And we have the following conditions

* can't find a column with type `geometry` -

[2015-08-20 13:23] rafatower commented on #117
[code]
confirmed. BTW, why don't we use Find_SRID?

[2015-08-20 13:28] pramsey commented on #117
`find_srid()` depends on looking at geometry_columns, which only has valid info for columns that are declared with an SRID, ie `geometry(point, 4326)`. Unfortunately we should probably be looking at an amalgam of checking the geometry_columns table, and then if that's zero checking the first geometry. find_srid would handle the case of the empty table, unlike the current code

[2015-08-20 13:31] pramsey commented on #117
[code]

[2015-08-20 13:55] rafatower commented on #117
The problem is a combination of two unfortunate things:
1. From [rails code](https://github.com/CartoDB/cartodb/blob/master/services/importer/lib/importer/georeferencer.rb#L91): `2015-08-20 09:10:59 UTC: Creating the_geom from the_geom column` but without SRID

2. From the extension, hitting the case pointed  out above.

I'd make the extension resilient to that problem and also fix rails code.

[2015-08-20 14:04] rafatower commented on #117
https://github.com/CartoDB/cartodb/blob/master/services/importer/lib/importer/column.rb#L165-L179

[2015-08-20 14:10] pramsey commented on #117
Thou shalt have no 3d geometry? Not as a core matter of philosophy, since we can create them and map them by hand via SQL API. But importer forces that... we could avoid doing in in SQL if we want to keep the importer behavior by using the `-dim 2` flag on ogr2ogr?

[2015-08-20 14:37] rafatower commented on #117
Apparently the old behavior was to force the SRID for the_geom and the_geom_webmercator columns: https://github.com/CartoDB/cartodb-postgresql/blob/513488da0ef0cc5516a774f2a8dc7022675ad303/scripts-available/CDB_CartodbfyTable.sql#L335-L339

[2015-08-20 14:39] pramsey commented on #117
We force our outputs to have the right SRIDs in the column defs too, but that doesn't help us if the inputs are undefined, right?

[2015-08-20 14:45] rafatower commented on #117
Right. OTOH it was a convenient assumption that if there was a the_geom then it had 4326. Breaking with that assumption has consequences, especially in the export/import scenario.

[2015-08-20 16:01] rafatower commented on #117
@pramsey do you think you can write a function to force srid of the geom to 4326 if it is not set? would it make you feel bad? after considering several options I don't see a better one to go live.

[2015-08-20 16:06] rafatower commented on #117
my proposal:
[code]

[2015-08-20 16:06] pramsey commented on #117
I think just go w/ good old SQL

CASE WHEN st_srid(geom) = 0 THEN st_setsrid(geom,4326) ELSE geom END

[2015-08-20 16:06] juanignaciosl opened #118 "Group resource editor API"
Endpoints for group management from editor.

cc @viddo

[2015-08-20 16:08] juanignaciosl commented on #118
Wrong repo

[2015-08-20 16:08] #118 closed

[2015-08-21 08:17] rafatower commented on #117
After giving it some thought I think you're right. Paul, could you please write the code to force cartodb columns to the right type if they are present?

[2015-08-21 09:13] rafatower opened #120 "Cannot upgrade extension if dependency on CDB_UserTables"
At the time, in order to migrate with a signature change in CDB_UserTables a DROP FUNCTION IF EXISTS was added. The problem is that it prevents upgrades if there are objects in DB dependent on it. Remove the DROP.

[2015-08-21 09:14] rafatower commented on #120
The morale of this is again: do not change public function signatures. Better creating new ones and mark old ones as deprecated before removing

[2015-08-21 09:17] javisantana commented on #120
In which case there is a dependency on CDB_UserTables?

[2015-08-21 09:29] rafatower commented on #120
When the user defines a view in terms of cdb_usertables for instance.

[2015-08-21 09:34] rafatower commented on #120
This is the line to remove: https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_UserTables.sql#L8

which by the way was added by me here: https://github.com/CartoDB/cartodb-postgresql/commit/a6fd829669aa8c3c42afd0750e8b52b95d716dc8

(creating this issue might seem a bit overkilling just to remove a line but I like to document the reason of the changes)

[2015-08-21 10:11] rafatower commented on #120
Reviewing tests, I think this was a mistake from my side: https://github.com/CartoDB/cartodb-postgresql/commit/010dd13e4dd6f526b409473b47828107f6fc35b5

[2015-08-21 10:48] rafatower commented on #117
Reviewing tests, I think this was a mistake from my side: 010dd13

Another interesting changeset that should've covered right this case: bb68579

[2015-08-24 10:00] rochoa opened #122 "CDB_ColumnNames should honor regclass"
[CDB_ColumnNames current implementation](https://github.com/CartoDB/cartodb-postgresql/blob/0.9.1/scripts-available/CDB_ColumnNames.sql) returns columns for any table matching the name.

When having multiple tables with same name but in a different schema it will report the column name from all the tables.

`regclass` should be considered when providing qualified table names.

[2015-08-24 10:06] iriberri commented on #122
SB/6362235

[2015-08-24 12:39] javisantana commented on #122
why not using the oid so we don't need to add a filter by schema?

@iriberri CDB_ColumnNames is not public api, ping the user about this.

[2015-08-24 13:55] rochoa commented on #122
You are right, actually the signature is `CDB_ColumnNames(REGCLASS)` so it should be a bugfix more than a new feature as it's already possible to do:

[code]

[2015-08-25 13:13] rafatower opened #123 "Failure importing from ogr2ogr with -overwrite"
Scenario to reproduce:
1. Import a table called `country_lat_long`
2. Rename it to `country_lat_long_whatever`
3. Run this:
[code]

Expected: the table is imported correctly

Actual:
[code]

[2015-08-26 11:35] khuevu opened #125 "CDB_QuotaTest fail"
Hi,
When I am running install check, my CDB_Quota test fails. It always fails on my fresh installation (Ubuntu 12.04 32 bit). I follow the cartoDB installation guide.

The difference between result and expected is:

result: ERROR:  Quota exceeded by 487.998046875KB
expected: ERROR:  Quota exceeded by 567.998046875KB

[2015-08-26 15:17] khuevu commented on #125
I guess it is the problem with precision when using 32 bit. The test passes in my 64 bit installation.

[2015-08-26 17:13] jsanz opened #126 "Error importing dataset at cartodbfy"
I can use ogr2ogr with a free account

[code]

But I can't do the same with an account at the `team` organization, running the last version of the extension. This get stuck

[code]

But if I run it without specifying a SRS (the SHP doesn't have a `prj`) file then it finishes with a warning saying:

[code]

I'm running `ogr2ogr` coming from [gisinternals](http://www.gisinternals.com/development.php

[2015-08-26 17:16] pramsey commented on #126
what's the `ogr2ogr --version` ?

[2015-08-26 17:17] jsanz commented on #126
[code]

[2015-08-27 08:25] rafatower commented on #126
for the record, gdal version: [r29819](https://trac.osgeo.org/gdal/changeset/29819)

[2015-08-27 09:37] rafatower commented on #126
I made some tests with this input files:
* barrios.shp
  - polygons
  - 88 features
  - 104 KB

* stations.shp
  - points
  - 11K features
  - 324 KB

and got these results against these accounts:
* rtorre3
  - cartodb-postgresql extension v 0.8.2
  - 1 table
  - barrios: 3.757s
  - stations: 56.387s

* rtorre2
  - cartodb-postgresql extension v 0.9.2
  - 6 table
  - barrios: 3.978s
  - stations:

[2015-08-27 10:00] rafatower commented on #126
The current workaround for this is using the `CARTODBFY=NO` layer option and then running the `SELECT CDB_CartodbfyTable()` after the import.

[2015-08-27 11:25] rafatower commented on #126
With my team account, after the tweak above:
[code]

[2015-08-27 11:25] #126 closed

[2015-08-27 13:30] rafatower commented on #123
also seen in cartodb repo tests:
[code]

We're doing something wrong with indexes.

[2015-08-27 14:25] rafatower commented on #123
The difference with respect the previous version is that the index name was not set explicitly but let the DB decide on that. Looks like a good KISS approach to get around this problem.

[2015-08-31 08:28] zenitraM opened #128 "CDB_XYZ_Extent should also allow bigint"
When trying to get the extent for absurdly high zoom levels where tile coords > 2147483647:

```ERROR:  integer out of range```

Maybe the function could accept a `numeric` instead of an `integer`?
http://www.postgresql.org/docs/9.1/static/datatype-numeric.html

[2015-08-31 09:44] #123 closed

[2015-09-01 08:14] #117 closed

[2015-09-02 09:58] rochoa opened #130 "CDB_ColumnType should honor regclass"
This is similar to #122

[2015-09-02 12:37] #120 closed

[2015-09-02 20:48] drzhouq opened #132 "failed tests on [test_organization]"
Followed the exact instructions to install postgres, pg_schema_triggers and carted-postgresq. It failed tests on [test_orgainzation] Error 1
The following tests are failing:
    test_cdb_querytables_returns_schema_and_table_name
    test_cdb_querytables_returns_schema_and_table_name_for_several_schemas
    test_cdb_querytables_does_not_return_functions_as_part_of_the_resultset

postgresql 9.3/ubun

[2015-09-03 11:08] rochoa opened #133 "CDB_QueryTablesText doesn't quote schema/table with "." in name"
Currently `CDB_QueryTablesText` does not quote schema and table names when needed which is problematic when using its results for other things like casting to regclass.

## STR

[code]

## Current result

` {foo.bar.c.a.r.t.o.d.b}`

## Expected result

` {"\"foo.bar\".\"c.a.r.t.o.d.b\""}`

Ref https://github.com/CartoDB/CartoDB-SQL-API/issues/224

[2015-09-03 15:07] juanignaciosl opened #135 "Add support for group names with spaces and other characters"
Extension group management functions fails because of group name is used at URLs and it's not encoded.

[2015-09-03 17:17] rochoa commented on #98
This is already fixed via https://github.com/CartoDB/cartodb/pull/5021

[2015-09-03 17:17] #98 closed

[2015-09-04 14:34] juanignaciosl opened #136 "Add support for adding a batch of users to a group"
Extension side of this requirement: CartoDB/cartodb#5372

[2015-09-04 14:49] #135 closed

[2015-09-07 09:50] juanignaciosl commented on #136
Merged into #103 branch.

[2015-09-07 09:50] #136 closed

[2015-09-07 10:11] #122 closed

[2015-09-07 10:11] #130 closed

[2015-09-07 10:20] #133 closed

[2015-09-07 10:52] rafatower opened #138 "Table cartodbfy'ed without default seq value"
Steps to reproduce:
- Create an empty table:
[code]
- Cartodbfy the table:
[code]
- Try to insert an empty row:
[code]

- Expected: the row is inserted without problem
- Actual:
[code]

The problem is that the table is created without the default sequence value. That breaks the editor and possibly other scenarios.

See https://github.com/CartoDB/cartodb/issues/5392

[2015-09-07 17:05] rafatower commented on #138
_CDB_Has_Usable_Primary_ID does not take into account if there's a valid sequence there. I think I got a fix for that particular case, but more profound changes might be required.

[2015-09-08 08:22] iriberri opened #139 "ERROR: CDB(_CDB_Rewrite_Table:XX000:Input geometry has unknown (0) SRID)"
This seems to happen with a big file (128K rows) latitude/longitude columns + a "non valid row at the end", but it doesn't happen with a small file (20 rows) with the same invalid row at the end.

Please, ask me the file to reproduce the issue as the one I got contains confidential data. (perico.csv)

[code]

[2015-09-08 15:17] iriberri opened #141 "ERROR: CDB(_CDB_Has_Usable_Geom:42701:column "the_geom" of relation "completter" already exists)"
When importing a file that contains an attribute called "wkt" which contains the geometry written in WKT for every feature, this error is raised.

[code]

Renaming the "wkt" column to other thing, like "myk", makes the upload work and the system generates the_geom column appropriately.

**To reproduce**:

* Failing file: https://gist.githubusercontent.com/iriberri/74153be4d9628915003e/raw/46c7d184

[2015-09-08 17:46] rafatower opened #142 "Tests broken against official install dependencies"
Things affecting tests:
- postgis installation
- triggers extension installation

See http://cartodb.readthedocs.org/en/latest/install.html#postgresql vs https://github.com/CartoDB/cartodb/blob/ead4e65b83a1a562cb6b3e5718acbc60a0fca685/README.md#install-postgresql

Tested against postgis-2.1.7 and worked, but installing the official current version from ppa's did not. To be taken into account along

[2015-09-09 14:41] rochoa opened #144 "CDB_StatsTest.sql test failing randomly"
Hey @ohasselblad

The recently created test for CDB_Kurtosis and CDB_Skewness fails randomly, probably because random() distribution is not good enough with the number of elements we are using in that test.

Do you think we can use another synthetic input for the tests?

We could use tablefunc extension just for the test to use a normal distribution with [`normal_rand(int numvals, float8 mean, flo

[2015-09-09 14:52] ohasselblad commented on #144
I think we'd have the same problem with the normal distribution.

I can do an example with `generate_series(0,10000)::numeric / 10000` that should give the same value.

[2015-09-09 14:55] rochoa commented on #144
What about playing with the values from the series:

[code]

[2015-09-09 14:59] ohasselblad commented on #144
This produces consistent results:
http://eschbacher.cartodb.com/api/v2/sql?q=With%20a%20As%20(SELECT%20generate_series(0,10000)::numeric%20/%2010000.0%20i)%20SELECT%20abs(CDB_Kurtosis(array_agg(i))%20%2b%201.2)%20%3C%201e-3%20k,%20abs(CDB_Skewness(array_agg(i)))%20%3C%201e-3%20s%20FROM%20a

Based on:

[code]

[2015-09-09 15:10] rochoa commented on #144
Thanks for the help @ohasselblad !!

PR ready, will merge it once tests go green.

[2015-09-09 15:11] ohasselblad commented on #144
Thanks for catching the error, @rochoa!

[2015-09-09 15:12] #144 closed

[2015-09-10 16:28] rafatower opened #147 "Make everything work again when restoring a pg_dump without needing to run Rails code to fix stuff afterwards"
See [docs](http://www.postgresql.org/docs/9.4/static/extend-extensions.html), section "Extension Configuration Tables".

[2015-09-10 17:48] rafatower commented on #139
Basically we end up with a table with geometries but no SRID (WKT/WKB) right before cartodbfy'ing and it is crashing when trying to convert them to the standard column the_geom.

We've already seen that problem and tried to fix it. I think we should just force the SRID and fail gracefully if there's any further  issue. The funny name `invalid_the_geom` probably comes from ogr2ogr

[2015-09-11 08:38] rafatower opened #148 "cartodbfy shall discard cartodb_id candidates that contain nulls"
Currently it checks for uniqueness but not for nullity.

[2015-09-11 08:49] iriberri commented on #139
Yep, `invalid_the_geom` is a super typical column that appears when you use an invalid WKT/WKB (like when you miss a character or something like that).

[2015-09-11 09:21] rafatower commented on #139
ogr2ogr2 produces the following tables from the original file:
[code]

so the naming to `invalid_the_geom` should happen later on, and before the cartodbfy.

[2015-09-11 09:27] rafatower commented on #139
but the srid is set to 0:
[code]

This is the call to ogr2ogr2:
[code]
so I'm thinking that probably a better solution, since there's no geometry as such in the original csv but lat and long columns, is to instruct ogr to generate a the_geom with SRID...

[2015-09-11 09:34] rafatower commented on #139
With the `-t_srs EPSG:4326` option:
[code]
but that's a problem because though I think it is legitimate to always force the target srs it is NOT forcing the source srs in all cases.

[2015-09-11 10:13] rafatower commented on #139
Closing this for the moment. The root cause is finally not here but in rails app repo. I introduced this issue when adding the new feature of lat/long detection with ogr2ogr and the thing is the root cause is in gdal2.1 itself. I think I found a plausible workaround for it. Stay tuned.

[2015-09-11 10:13] #139 closed

[2015-09-11 10:41] iriberri commented on #139
Thanks for the updates Rafa!

[2015-09-11 12:51] rafatower opened #149 "Cannot cartodbfy table already having `the_geom` column"
[code]

[code]

[2015-09-11 12:53] #138 closed

[2015-09-11 13:10] rafatower commented on #149
duplicate of: https://github.com/CartoDB/cartodb-postgresql/issues/141

[2015-09-11 13:10] #149 closed

[2015-09-11 13:17] iriberri opened #150 "Dataset with null coordinates generates a point in (0,0) instead of a null geometry"
Sample test here: https://gist.githubusercontent.com/iriberri/d7725ceecd5d7065417b/raw/bee42c72140511c3eeb899b24de63ca6591dd2dc/example0.csv

![image](https://cloud.githubusercontent.com/assets/1730320/9815683/3d4b5f72-5898-11e5-96cc-0d6e45e9631a.png)

[2015-09-11 13:23] iriberri commented on #141
Another one, pasting here the error to be able to recognise the failing file later:

CDB(_CDB_Has_Usable_Geom:42701:column \"the_geom\" of relation \"maporgs9_9_15\" already exists): ALTER TABLE maporgs9_9_15 RENAME COLUMN wkb_geometry TO the_geom\nCONTEXT:

[2015-09-11 13:47] rafatower commented on #141
At least in one of the cases the input table has both `the_geom` and `wkb_geometry`. Probably one of them to be thrown away.

[2015-09-11 14:03] iriberri commented on #141
I just reproduced this error inside account by exporting and importing again the table "test2_copy" that lives in our current testing account.

It contains some empty rows I added manually, so some the_geom are null, and the table also has lat/long columns (null too for these rows).

So yes, it seems there's a colision.

[2015-09-11 14:12] iriberri commented on #148
Just forced this behaviour by importing a file in which I nulled some cdb_ids in the testing environment, and yes, the error is there:

 ERROR:  CDB(_CDB_Add_Indexes:23502:column \"cartodb_id\" contains null values): ALTER TABLE untitled_table_2_merge_1 ADD PRIMARY KEY (cartodb_id)\nCONTEXT:  SQL statement \"SELECT _CDB_SQL(sql, '_CDB_Add_Indexes')

(Probably this comment is useless for the record

[2015-09-11 14:25] rafatower commented on #150
does it happen in prod or in ded06-st?

[2015-09-11 15:02] iriberri commented on #150
ded06-st

[2015-09-11 16:08] rafatower commented on #141
Getting inconsistent results when trying to figure out the srid:
[code]

[2015-09-11 16:25] iriberri commented on #141
...weird...

[2015-09-11 17:00] rafatower commented on #141
The problem with the comment above is: the state of `FOUND` is not modified by `EXECUTE INTO`. Here's the documentation:
http://www.postgresql.org/docs/9.4/static/plpgsql-statements.html#PLPGSQL-STATEMENTS-DIAGNOSTICS
and here some quick tests:
[code]
and here the result:
[code]
Just FYI @pramsey: I'll review all usages of `EXECUTE` plus `FOUND` because they are widely used in cartodbfy code.

[2015-09-11 17:01] pramsey commented on #141
Ug! Thanks @rafatower

[2015-09-14 15:41] rafatower commented on #141
@pramsey I extracted the query on top of `_CDB_Has_Usable_Geom` to a function `_cdb_geom_candidate_columns` and run a small experiment:
[code]
and this is what I got:
[code]
(this is the Cartesian product `meta-info(att_name, srid) x desired(att_name, srid)`)

My question is how this can get along with this [line](https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_Cart

[2015-09-14 23:28] pramsey commented on #141
Maybe, I'm not sure what your concern is... finding non-geometry types that have our preferred column names to either avoid clobbering them or converting them into geometries...

[2015-09-15 12:57] rafatower commented on #141
My concern is understanding the algorithm, since it is setting flags and vars on a loop on the cartesian product of (attname,srid) x (desired_attname, desired_srid), and it also has side effects (renaming columns at the end) what are the guarantees it will deliver the intended results?

[2015-09-15 16:06] ztephm commented on #141
ref S/B 6623933 (Private datasets are in ticket)

Expected: PostgreSQL INSERT INTO will put column info from user's _new dataset into original (blank) dataset that has same column names

Happening:
![screen_shot_2015-09-14_at_6 01 37_pm](https://cloud.githubusercontent.com/assets/1779444/9880252/e8ac1aca-5b98-11e5-88c0-3002f7244081.png)

[2015-09-15 16:39] rafatower commented on #141
@ztephm that's a different issue

[2015-09-16 09:59] gfiorav opened #153 "Varnish cache not invalidated if SQL query is performed between table deletion and invalidation"
@rochoa @javisantana

This tickets hopes to see a solution for [#5516](https://github.com/CartoDB/cartodb/issues/5516) at extension level.

Relevant backend code:

https://github.com/CartoDB/cartodb/blob/master/app/models/table.rb#L598-L613

[code]

[2015-09-16 10:02] rafatower opened #154 "Columns with geometry cartodbfy'ed without SRID"
From https://github.com/CartoDB/cartodb-postgresql/pull/152#discussion_r39578634
[code]
results in:
[code]
which is not entirely correct as the_geom has not the SRID restriction to 4326.

One way to avoid this is by not using _CDB_Geometry_SRID function as a change in the columns SRID restrictions require a rewrite of the column AFAIK. See http://postgis.net/docs/UpdateGeometrySRID.html

[2015-09-16 15:21] rafatower commented on #148
Example csv file from iriberri:
[code]

[2015-09-17 10:15] rafatower opened #155 "Correct wrong format strings"
[code]

This affects current code: https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_CartodbfyTable.sql#L168

[2015-09-17 10:15] rafatower commented on #155
http://www.postgresql.org/docs/9.4/static/functions-string.html#FUNCTIONS-STRING-FORMAT

[2015-09-17 14:28] Tom-Tom opened #156 "Regression test is failing"
Hi, when `sudo PGUSER=postgres make installcheck` i got :

File : `regression.out`
[code]

File: `regression.diffs`
[code]

What's wrong ?

[2015-09-17 15:30] #61 closed

[2015-09-18 08:58] Tom-Tom commented on #156
Its my fault
In CartoDB installation instruction :
`git checkout cdb` this tag is on version `0.9`
Switch to `git checkout master` with version `0.10`

[2015-09-18 08:58] #156 closed

[2015-09-18 09:10] Tom-Tom opened #157 "Test failing"
In https://github.com/CartoDB/cartodb/issues/5421

I have the same problem.

[2015-09-18 11:35] rafatower opened #158 "Sequence for cartodb_id incorrectly initialized when importing via gdal CartoDB driver"
Importing this way:
[code]
The [country_lat_long.csv](https://gist.githubusercontent.com/rafatower/17f5e9f8538006f1ea70/raw/35480000c85c66d890af3584fad6784484fd88ac/country_lat_long.csv) input file.

then when adding rows I got this error:
[code]

it seems like the created sequence is not set to max(cartodb_id) for some reason.

[2015-09-18 13:24] rafatower commented on #158
Taking a closer look: the parameter `-f CartoDB:rtorre` did not match the URL nor the API_KEY (look at the bug desc) so there's something wrong, such as creating the table and/or sequence in the wrong schema.

I tested again with the correct combination and went fine.

[2015-09-18 15:17] rafatower commented on #153
Kind of duplicated and more to do with the rails/varnish code than the extension, closing

[2015-09-18 15:17] #153 closed

[2015-09-24 15:49] azamorano opened #160 "An upgrade from 0.7.3 to 0.10.1 fails"
[code]

[2015-09-24 16:36] rafatower commented on #160
Done.

For the record:
- I updated the branch 3.11.X in cartodb. See https://github.com/CartoDB/cartodb/commit/56a83be5478190413cca8abf672cd3b03c841953
- I updated the cdb tag to point to 0.10.2. See https://github.com/CartoDB/cartodb-postgresql/releases

[2015-09-24 16:36] #160 closed

[2015-09-25 17:01] juanignaciosl opened #162 "Allow non-sync group permission management queries"
Because of the way UI handles permission changes, the single table and permission approach for db-centric permission management is not valid, so we need function calls from editor that won't trigger requests upwards (see CartoDB/cartodb#5768)

[2015-09-28 07:25] sindile opened #166 "Regression test fails"
My environment is Ubuntu 12.04 with cartodb-postgresql master branch

I have seen the references to this error and have tried all of the suggestions but still I get the following errors.

============== running regression test queries        ==============
test test_setup               ... ok
test test_ddl_triggers        ... FAILED
test test/CDB_CartodbfyTableTest ... ok
test test/CDB_DigitSepara

[2015-09-28 08:05] juanignaciosl commented on #162
Merged into #103  branch.

[2015-09-28 08:05] #162 closed

[2015-09-28 10:20] rafatower commented on #155
Also this ticket needs a test case to force the execution path through the faulty code.

[2015-09-28 10:24] rafatower commented on #141
Fixed and released

[2015-09-28 10:24] #141 closed

[2015-09-28 10:26] #86 closed

[2015-09-28 10:30] #154 closed

[2015-09-29 14:28] gfiorav commented on #158
What should be done with this ticket then?

[2015-10-01 07:58] odessky commented on #157
Confirmed. I have same error on Ubuntu 12.04 amd64.

[2015-10-02 13:40] iriberri commented on #148
https://cartodb.com/superadmin/users/11903/data_imports/09a4ba10-1572-4f47-99f2-a2744def0206

From today:
[code]

[2015-10-02 13:43] rafatower commented on #148
fix is ready, to be deployed beginning of next week.

[2015-10-06 09:25] gfiorav commented on #150
This is happening in production but not in my local instance.

[2015-10-06 12:39] #148 closed

[2015-10-08 10:40] #158 closed

[2015-10-15 17:10] iriberri opened #172 "[CartoDBfy] Long name table provokes "relation already exists" error"
First of all, I think this is something we are already aware of from different issues but I don't know if this is being treated specifically somewhere as I'm not able to find the issues now. Sorry if duplicated, we found it again during a regression, so here it is in case it's helpful.

**STR**:
1. Upload [this file](https://gist.githubusercontent.com/iriberri/0c2a66f146fb6f574874/raw/29f81d4add74

[2015-10-26 12:15] juanignaciosl opened #174 "Cartodbfy error assigning an organization owner"
@yasharora73 has assigned a user to an organization as owner and it has failed.

This's been the error: [`Sequel::DatabaseError: PG::Error: ERROR:  CDB(_CDB_Has_Usable_Primary_ID): ALTER TABLE "USERNAME".USER_TABLE ADD CONSTRAINT cartodb_id_pk PRIMARY KEY (cartodb_id)
CONTEXT:  SQL statement "SELECT _CDB_Error(sql, '_CDB_Has_Usable_Prima`](https://rollbar.com/vizzuality/CartoDB/items/10015/):

[co

[2015-10-26 12:18] rafatower commented on #174
This is the root cause (the query done in the cartodbfy function):
[code]
it gets two rows, actually the first one in the variable `rec`, which has `indisprimary` set to false.

[2015-10-26 12:33] rafatower commented on #174
The problem is having two indexes defined on the same `cartodb_id` column:
[code]

The failing code: https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_CartodbfyTable.sql#L533-L577

I deleted the second index but it failed with other tables. @pramsey Any suggestion to make it robust to this problem?

[2015-10-26 12:39] pramsey commented on #174
I'm guessing that it's hitting the non-primary key index first, and then trying to create a primary key, which raises an uncaught error. In actuality our text is a bit too strict, at https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_CartodbfyTable.sql#L550
[code]
cloud be
[code]
right? If it's either a primary key index or a unique index we'll be OK?

I think I need t

[2015-10-26 13:28] rafatower commented on #174
Putting things in context, this is kind of a corner case which won't affect normal cases. We deleted the extra index manually cause it doesn't make sense to have two `btree` indexes on the same column.

I think the change in the `IF` expression you suggest makes sense, thanks, we'll try it.

I wouldn't do that, I think we're good with taking existing simple candidate keys if they exist or creating

[2015-10-27 13:19] #172 closed

[2015-10-30 02:13] jjelosua commented on #49
That would be awesome, +1, full text searchj with ts_vectors is just to random with spanish at least

[2015-11-06 15:39] rafatower opened #176 "Quota checks do not work very well"
As it is done now, it can prevent 1 out of N queries when out of quota, which is practically like not preventing disk size issues but just bothering in a random way.

[2015-11-06 15:40] rafatower commented on #176
cc/ @rochoa

[2015-11-18 10:47] juanignaciosl commented on #174
FYI this has happened again. Now, to @micagm , with blockbrief user: https://rollbar.com/vizzuality/CartoDB/items/10418/occurrences/9049351252/ . I'll delete the extra indexes again, but add a vote to a fix for this :-)

[2015-11-18 13:34] juanignaciosl opened #179 "Group test fail during CartoDB installation"
CartoDB installation process trigger group errors at test phase:

<img width="1440" alt="tests_summary" src="https://cloud.githubusercontent.com/assets/932968/11242397/b5bca3b4-8e01-11e5-8f00-2ca630864b47.png">

<img width="1440" alt="errors" src="https://cloud.githubusercontent.com/assets/932968/11242342/6268c6d4-8e01-11e5-8ddb-1fcfcd64c197.png">

cc @rafatower

[2015-11-18 13:50] rafatower commented on #179
I lack a bit of context, but... could it be that those tests precisely
check that a given user does not have permissions to perform certain group
operations?

On Wed, Nov 18, 2015 at 2:34 PM, Juan Ignacio Sánchez Lara <
notifications@github.com> wrote:

--
*Rafa de la Torre*
DataServices Engineer www.cartodb.com

[2015-11-18 13:57] juanignaciosl commented on #179
I haven't been able to check anything yet. The context is "CartoDB installation", when you get to the test step you get those errors.

[2015-11-18 13:59] rafatower commented on #179
In the screenshot the ones reported as failed are the query tables tests, not the group ones. I meant for me is normal to have that kind of "expected errors" so I wouldn't look at the problem in the groups direction, just based on the screenshots.

[2015-11-18 14:13] juanignaciosl commented on #179
There're two screenshots (maybe you are seeing the notification, I first attached only one screenshots). The general one is misleading but the second one is clear, it fails at group management functions. I don't know the test script structure, I don't understand why error is reported there.

[2015-11-18 14:45] dsaenztagarro commented on #179
Hi guys, in order to give you as much information as possible I have attached the full log after running the command: sudo PGUSER=postgres make installcheck

The command is executed in a clean installation from ubuntu 12.04 LTS vagrant box.

Rafa, if you need any information from me, don't hesitate to contact me.

[installcheck.txt](https://github.com/CartoDB/cartodb-postgresql/files/37947/install

[2015-11-20 13:39] #77 closed

[2015-11-23 17:32] jgoizueta commented on #179
I think those `FAILED TO...` messages in the second screenshot are OK; queries are checked for failure. Test are passing as long as there's nothing like this at the end of the tests:

![image](https://cloud.githubusercontent.com/assets/5909/11344224/419eb450-9210-11e5-9e99-ae7e1e152a2f.png)

Note the:

[code]

[2015-11-24 14:58] #155 closed

[2015-11-24 15:39] rafatower commented on #174
Gonna keep this open until we actually release the new version of the extension

[2015-11-25 14:47] dsaenztagarro commented on #179
Sorry guys, I would be worried about the error in the first screenshot:

**test test/CDB_QueryTablesTest .... FAILED**

I attached the second screenshot just because I thought it could help you...

As the second screenshot it's like a "false positive" (once again, sorry for the waste of time!) I attached the full log in the previous comment.

[2015-11-25 16:50] rafatower commented on #179
Related to https://github.com/CartoDB/cartodb-postgresql/issues/142

Thanks for reporting!

[2015-11-30 16:34] jgoizueta commented on #174
Version 0.11.4, which fixes this was deployed in production to all user DBs on 2015-11-27.

[2015-11-30 16:34] #174 closed

[2015-12-08 16:22] pnorman opened #183 "Use kmeans-postgresql for Jenks"
Jenk's natural breaks are a special case of kmeans clustering in 1d. The [kmeans-postgresql](https://github.com/umitanuki/kmeans-postgresql) is a C implementation of kmeans.

Benchmarking shows kmeans-postgresql to be orders of magnitude faster than the plpgsql impelementation currently in cartodb-postgresql

[code]

Using kmeans internally for the math would be a substantial speed increase.

[2015-12-14 09:54] jgoizueta commented on #183
Having this function in the users' databases could be useful to create point overviews by clustering points spatially

[2015-12-14 14:30] jgoizueta commented on #183
Did a little clustering experiment [here](https://gist.github.com/jgoizueta/f423be9d4084a484e520#gistcomment-1649094) and sadly it seems to slow for this purpose.

[2015-12-14 16:57] pnorman commented on #183
Clustering isn't something you'd normally run interactively for display, but for analysis. With 4.1m points I get times of 19s for 10 buckets and 137s for 100 buckets.

The common heuristic for kmeans is O(nkdi), where n is the number of d-dimensional vectors, k the number of clusters and i the number of iterations needed until convergence.

It's not a tool for everything, but all clustering excep

[2015-12-18 18:20] pnorman opened #186 "Enumerated types and upgrading"
I was looking for an example for how to handle custom enumerated and composite types associated with a function.

`CREATE TYPE` does not have a `CREATE OR REPLACE TYPE` form, but instead uses [`ALTER TYPE name ADD VALUE [ IF NOT EXISTS ] new_enum_value [ { BEFORE | AFTER } existing_enum_value ]`](http://www.postgresql.org/docs/current/static/sql-altertype.html).

For testing I've been using `DROP

[2015-12-22 13:36] zenitraM commented on #147
Also, not only the table but also its grants

[2015-12-22 14:21] rafatower commented on #147
Actually marked for backup here: https://github.com/CartoDB/cartodb-postgresql/blob/bce61c1e4359653134134097d269edae581e5660/scripts-available/CDB_ExtensionPost.sql

[2015-12-22 14:32] rafatower commented on #147
@iriberri could you please add the workaround here once it's confirmed it works for the export/import case? thanks!

[2015-12-22 16:26] iriberri commented on #147
As a workaround for this, we recommend you to run the `set_user_privileges_in_cartodb_schema` rake. This should populate the permissions in the `cdb_tablemetadata` table after you import the incomplete dump.

[code]

[2015-12-28 18:26] jgoizueta opened #191 "CDB_RandomTids does not support dense sampling or 1-page tables"
The `CDB_RandomTids` implementation fails if a table has a single page or if the number of required samples is close to the total number of rows.

Those cases probably fell outside the intended use cases for this function, but can happen for example in test.

[2016-01-27 13:40] rafatower opened #192 "Cartodbfy of exported and re-imported tables shall use existing columns"
A typical use-case is exporting to CSV and then re-importing. It's been noted that for instance `the_geom` column (exported as WKB in the CSV) is not always taken as the good source for the new `the_geom` column when re-importing the csv file.

How to reproduce:
- create a file with lat/lng columns
- import to cartodb. the lat/lng is guessed as geometry and converted to `the_geom`
- export the tab

[2016-02-03 22:48] pnorman commented on #23
[code]
confirms this

[code]

To me it doesn't make sense to keep around a reference to an oid no longer in pg_class, since it no longer has meaning.

[2016-02-04 11:54] iriberri commented on #192
Dup: https://github.com/CartoDB/cartodb/issues/6163

[2016-02-10 15:04] zenitraM opened #198 "Fully qualify table names on trigger invalidation caches"
Right now, as we generate the invalidation tags based on CDB_QueryTablesText output, we tag tables with:
`schemaname.tablename`
even if the schema name could be omitted. This is because CDB_QueryTables formats it explicitly:
https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_QueryTables.sql#L48+

However, when we call cdb_invalidate_varnish, we pass it a casted to text

[2016-02-24 16:33] rafatower opened #201 "Set permissions properly when running CDB_Add_Remote_Table"
Currently just granting SELECT to org role: https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_ForeignTable.sql#L60-L68

The workaround is to grant perms to `publicuser`. This should be better defined and implemented (both for org and non-org users)

Maybe publicuser just works ok for the general case.

cc/ @zenitraM

[2016-02-26 10:16] iriberri commented on #192
Putting here the behaviour I saw yesterday:

When reimporting a exported table such as the one defined in the issue, aka:

|the_geom|cartodb_id|lat|long|
|----|----|---|---|
|WKB (point 1,1) | 1 | 4 | 5|

when passing through `ogr2ogr` which is converting lat and long to Multipoint because of the -nlt PROMOTE_TO_MULTI  parameter, the table in the cdb_importer schema is:

[code]
 with contents:

[c

[2016-03-02 14:18] iriberri opened #203 "Possible CartoDBfication improvement: don't look for id's not named cartodb_id"
From: https://github.com/CartoDB/cartodb-postgresql/pull/202

There's a part of the `CDB_Has_Usable_Primary_Key` process which is looking for a valid integer column and reuse it, which is more expensive than generating a new valid column from scratch.

[2016-03-04 11:42] iriberri opened #205 "has_usable_geoms is not using a valid the_geom in some scenarios"
Scenario 6: the_geom text && wkb_geometry geometry(Point, 4326) -> it explodes
Scenario 7 - (the post-ogr2ogr typical one): the_geom geometry && wkb_geometry geometry(Point, 4326) -> it takes wkb_geometry

and https://github.com/CartoDB/cartodb-postgresql/blob/54973c01f2a6561a728653f68b5e9b330048da12/scripts-available/CDB_CartodbfyTable.sql#L772 here an option which is typically used for text colu

[2016-03-04 13:44] iriberri commented on #205
Definitely [this assignment](https://github.com/CartoDB/cartodb-postgresql/blob/54973c01f2a6561a728653f68b5e9b330048da12/scripts-available/CDB_CartodbfyTable.sql#L772) is not expected anywhere.

[2016-03-04 13:45] iriberri commented on #205
[This piece of code](https://github.com/CartoDB/cartodb-postgresql/blob/54973c01f2a6561a728653f68b5e9b330048da12/scripts-available/CDB_CartodbfyTable.sql#L875-L888) is overwriting a possible value `the_geom::text` whenever there's already a geometry in the table.

[2016-03-04 14:27] iriberri commented on #205
I think that the general issue can be reduced to: whenever there's a column not named `the_geom` for which the column information has SRID 4326 (`::geometry(X, 4326)`, not as in `::geometry`) it is used.

[2016-03-05 19:15] jatorre opened #206 "When running CDB_CreateOverviews I get an error of missing function"
When running

SELECT CDB_CreateOverviews('table_2013_nyc_pothole_complaints_heat_map')

On my osm2 account I get an error saying:

"function min(boolean) does not exist"

![screen shot 2016-03-05 at 2 14 52 pm](https://cloud.githubusercontent.com/assets/127803/13549843/a8ea7028-e2dc-11e5-93e3-89385405e102.png)

[2016-03-07 10:21] iriberri commented on #192
After some study last week, here are the final conclusions.

The CartoDBfication will *always* give precedence to a `geometry(Geometry, 4326)` column than to any other geometry in the table.

This scenario for lat/long columns would only happen when guessing is enabled, and in this situation it could make sense and we would not consider it a bug. See https://github.com/CartoDB/cartodb/issues/6163#

[2016-03-07 10:45] #198 closed

[2016-03-07 11:16] zenitraM commented on #10
Necro-bumping this, now that we need to do some tweaks on the trigger (see https://github.com/CartoDB/cartodb/issues/6773) would this be a good opportunity to do this change?

[2016-03-08 10:22] iriberri commented on #205
https://gist.github.com/iriberri/24c9daab23c98aed977b

[2016-03-15 15:58] iriberri opened #209 "CartoDB Rails tests expect cartodb_id not to be casted to bigint"
but we casted it in: https://github.com/CartoDB/cartodb-postgresql/pull/202/files#diff-767fb5c7568f72bdf3da71fbe0d21ca4R922

This needs to be reverted.

[2016-03-16 18:24] rafatower opened #211 "Overviews creation fails with ERROR: function min(boolean) does not exist"
Relevant traces from log:
[code]

Ruby trace:
[code]

[2016-03-16 18:59] rafatower commented on #211
There's a `boolean` column indeed in that table. Once removed, it worked like a charm. Here's the offending line

 https://github.com/CartoDB/cartodb-postgresql/blob/2dc6ec618fd35e75173e8a24a190607e9544d44c/scripts-available/CDB_Overviews.sql#L490

should be easy to reproduce and fix.

[2016-03-17 09:31] #209 closed

[2016-03-20 13:39] jgoizueta opened #213 "Weird Makefile problem"
There's a problem with the doubled (escaped) backslahes here: https://github.com/CartoDB/cartodb-postgresql/blob/224b2ce39504f974cc47602fd49c3fecb60a5b27/Makefile#L126-L133

That was expected to generate single backslashes, but now in some systems it generates two backslahes. Actually the latter behaviour is most consistent, since it is the same result as executing the `echo` command directly in `

[2016-03-20 13:44] jgoizueta commented on #213
Please @rafatower @ethervoid @iriberri can you report how are your local environments behave?

You can use this Makefile:

[code]

Then post here the output of:

[code]

[2016-03-20 16:55] jgoizueta commented on #213
If we add `SHELL = bash` to the Makefile (so that `make` doesn't try to execute any command in its won) the double slash is preserved with any bash version. Really weird.

[2016-03-21 09:48] iriberri commented on #213
In my dev env:

[code]

In OSX:

[code]

[2016-03-21 09:53] ethervoid commented on #213
OSX

10:51:16  /tmp 
$ cat TEST1
\set

 10:51:23  /tmp 
$ cat TEST2
\set

 10:51:26  /tmp 
$ make --version
GNU Make 3.81
Copyright (C) 2006  Free Software Foundation, Inc.
This is free software; see the source for copying conditions.
There is NO warranty; not even for MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.

This program built for i386-apple-darwin11.3.0

 10:51:28  /tmp 
$ b

[2016-03-21 16:20] jgoizueta opened #216 "Add CDB_RenameOverviews()"
Add a function update overview table names when the base table is renamed.

TODO: should be called before renaming, the table, after, or be callable in both ways?

[2016-03-21 16:25] jgoizueta opened #217 "Overload CDB_Overviews(), CDB_DropOverviews() to accept a (text) table name"
So that the caller of these functions can use them on tables that do not exist (e.g. having just been deleted).

CDB_DropOverviews(text) should delete remnant overview tables if they exist after having deleted the base table.

CDB_Overviews(text) should return an empy list of overviews for tables that do not exist.

[2016-03-29 10:50] #211 closed

[2016-03-29 10:51] #213 closed

[2016-03-30 08:11] rafatower opened #218 "CDB_Overviews(reloid REGCLASS) fails for org users"
[code]

[code]

[code]

[2016-03-30 08:17] rafatower commented on #218
Actually this is the problem:
[code]

[2016-03-30 08:23] rafatower commented on #218
known problem: https://github.com/CartoDB/cartodb-postgresql/blob/aff7ae3e2e155de00958a8bbc7b95203ba9ffb8e/scripts-available/CDB_Overviews.sql#L103

[2016-03-30 08:33] rafatower commented on #218
the problem is the `cdb_usertables::regclass AS overview_table` sub-expression in the select

[2016-03-30 08:46] rafatower commented on #218
I wouldn't use CDB_UserTables cause the implementation looks faulty to me: https://github.com/CartoDB/cartodb-postgresql/blob/aff7ae3e2e155de00958a8bbc7b95203ba9ffb8e/scripts-available/CDB_UserTables.sql

(getting just the name of the table (with no schema) and casting to an infamous `name` type, which is a tricky one).

See http://www.postgresql.org/docs/current/static/datatype-character.html

[2016-03-30 08:58] jgoizueta commented on #218
Apart from the questionable use of CDB_UserTables, the problem can be fixed with:

[code]

[2016-03-30 09:00] rafatower commented on #218
the shortest line to reproduce the problem as it's happening:
[code]

buuut, the trick is that from other places the search path is set to something like this (e.g: when querying from the sql api:
[code]

and actually the query does not fail from the sql api, but it returns no rows.

[2016-03-30 13:17] rafatower opened #219 "OOM when generating overviews"
When setting `grid_px` to 2 here: https://github.com/CartoDB/cartodb-postgresql/blob/aff7ae3e2e155de00958a8bbc7b95203ba9ffb8e/scripts-available/CDB_Overviews.sql#L557

[code]

[2016-04-01 16:01] rafatower commented on #219
@iriberri for you to test on Monday.

you can patch it straight on the psql console either on staging (along with the timeouts branch) or in production (`team` db) by doing sth like:
[code]

and setting the overviews creation feature flag. (tests from rails/psql console can be quite tricky because of the `search_path`'s).

Do not do it from the editor, as the query is wrapped, takes a long time an

[2016-04-04 10:43] jgoizueta commented on #219
To avoid generating unnecessary overview levels it'd be a good idea to correlate the parameter lim here:

https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_Overviews.sql#L273

I'd set `lim' to `floor(power(256/grid_x, 2))/2`

[2016-04-04 10:53] jgoizueta commented on #219
Here are some maps with overviews generated with some values of grid_px from 0.5 to 4. For each value a map with 1px symbols (no borders) is shown, then one with smallish symbols (4.5px) and then an intensity map (with color adjusted to get a good result).

![overviews](https://cloud.githubusercontent.com/assets/5909/14245808/f0f36598-fa63-11e5-99eb-ec4936c2b5b9.png)

[2016-04-04 13:45] iriberri commented on #219
Without changing `_CDB_Feature_Density_Ref_Z_Strategy`, I got this with `grid_px` = 2:

[code]

Trying now limiting the other variable that Javi mentioned.

[2016-04-04 16:03] jgoizueta commented on #219
We should change the fixed `grid_px=7.5` in the extension and adjust `lim` accordingly.

How about introducing an optional parameter in `CDB_CreateOverviews` to the define the "precision/tolerance in pixels" (grid_px)?

I think this would apply to any overviews methods we add, since for each Z level (i.e. for each overview table) a tolerance in pixels translate to a tolerance in the features space

[2016-04-04 16:15] rafatower commented on #219
ok, go for it

[2016-04-04 16:19] jgoizueta commented on #219
Some notes about the `grid_px` parameter and its effect in the current overview creation approach (see the sample maps above):

Since (at least for points) will be reducing the number of features in overview layers (with respect to the base table), and, since we use a grid to group the features, there will be a threshold (of feature density) above which the overview will not distinguish higher den

[2016-04-04 17:37] jgoizueta commented on #206
Version 0.14.4 of the cartodb extension fixed that (https://github.com/CartoDB/cartodb-postgresql/pull/214)

It has already been installed to all users so you should have it.

OTH we're about to release a new version of the extension that will produce better overviews (by adjusting some internal parameters for the aggregation grid size and zoom levels to generate).

[2016-04-04 17:39] #206 closed

[2016-04-04 17:44] jatorre commented on #206
Managed to run it now.

[2016-04-04 17:50] jatorre opened #222 "Overviews are really scattered"
When I create an overview, and the overviews are used, the overview are gridded too much.

This is what I see at different zoom levels. This is not a good representation of the data as it looks very gridded.

I guess it has to do that the overviews are done at 4x4 pixels?

I did not expect this, I thought we would be aggregating by 1x1 pixels to show actual density, if not it just looks like a gri

[2016-04-04 17:52] jatorre commented on #222
Actually for comparison between using overviews are not just by slightly changing the SQL

![screen shot 2016-04-04 at 1 51 58 pm](https://cloud.githubusercontent.com/assets/127803/14257585/761ce250-fa6c-11e5-9c3b-aea851ce1068.png)
![screen shot 2016-04-04 at 1 51 49 pm](https://cloud.githubusercontent.com/assets/127803/14257586/7622aaf0-fa6c-11e5-87a4-ef896c4da05c.png)

[2016-04-05 08:01] jgoizueta commented on #222
Yes, we're working on that; there's a parameter controlling it and it was
fixed (in the cartodb extension) for our first overviews experiments. We're
about to release a new version where it has a more sensible default value
and is actually accesilble from the SQL API:
https://github.com/CartoDB/cartodb-postgresql/pull/221

You can get an idea of the effect of the parameter here:
https://github.com

[2016-04-05 12:01] #219 closed

[2016-04-06 12:36] jgoizueta commented on #218
I'm reopening this because `CDB_Overviews` can still fail for organization users under some circumstances:

* Several organisation members have a table with the same name and it has overviews
* Not all the tables have the same overview levels
* We execute `CDB_Overviews` with postgres user (i.e. with privileges to access the tables from the various users)

In that case `CDB_overviews` will fail fo

[2016-04-06 16:04] jgoizueta commented on #222
With the release 0.15.0 of the extension this has been solved

[2016-04-06 16:04] #222 closed

[2016-04-06 16:09] jgoizueta opened #223 "CDB_DropOverviews fails for org users"
This bug has been introduced in 0.15.0: https://github.com/CartoDB/cartodb-postgresql/blob/e68d5eca4587d17da4eee9ade260fb4c7eed32c4/scripts-available/CDB_Overviews.sql#L123

Since `row.overview_table` is a regclass it should not be formatted with '%I' and it should not be prependend a schema. The problem will manifest when the overview_table requires the schema
name to be accessed (i.e. when casti

[2016-04-07 13:32] jgoizueta opened #225 "Make the overviews point clustering more like torque"
Currently points are clustered using a grid (like torque does), but the aggregated point is placed at the centroid of each cluster rather than the cell's center like torque does. This seems to create some artifacts. This is an overviews layer:

![ovw1](https://cloud.githubusercontent.com/assets/5909/14352645/ca8ddd38-fcd5-11e5-8428-7df5c9f32661.png)

And this is a torque layer:

![ovw2](https://cl

[2016-04-11 15:59] iriberri commented on #216
If called after renaming, it's going to fail because CDB_Overviews will not return any overviews for the new regclass name.

[2016-04-11 16:01] iriberri commented on #216
We can change CDB_Overviews first to accept a table name as a text so that this can be flexible.

[2016-04-12 08:43] iriberri opened #226 "Update Overviews queries to get the count of the aggregated features"
cc @jgoizueta

[2016-04-12 09:09] iriberri commented on #226
This change will break the tiler as it's including a new column. The changes in the tiler will be performed from this issue: https://github.com/CartoDB/Windshaft-cartodb/issues/413

[2016-04-14 08:35] jgoizueta opened #229 "Set the default overviews tolerance in pixels to 1"
If we use an integral tolerance value, the points in overviews are gridded regularly on pixels, but if
TWKB is used by the tiler, the rounding of coordinates causes irregularities in the grid at the pixel level. (the `twkb_rounding_adjustment` parameter of the tiler can be used with a negative value for finer rounding making the effect less frequent, but the effect cannot be avoided completely).

[2016-04-14 15:05] iriberri commented on #226
We have changed the strategy and we no longer need the tiler to add the extra column because we will actually add it to the base table.

[2016-04-14 15:26] #229 closed

[2016-04-14 20:29] jgoizueta opened #231 "Better text aggregation for overviews"
Overview features representing more than one base feature have their text columns nulled.

It would be useful (e.g. for hover infowindows) to show the multiple text values aggregated when they are few and short.

[2016-04-14 20:42] jgoizueta commented on #231
[code]

[2016-04-15 05:26] jgoizueta opened #232 "Overviews AVG aggregation is not correct"
Since overviews are generated in cascade, averages of lower Z levels are averages of averages (which is incorrect)

[2016-04-15 05:40] jgoizueta commented on #232
This should fix it:
[code]

[2016-04-15 05:44] jgoizueta commented on #231
cc @iriberri

[2016-04-15 06:59] jgoizueta commented on #232
Sanity check for tests: for any overview table `_vovw_N_t` of `t` and numeric column `c` we should have:

`SELECT SUM(c*_feature_count) FROM _vovw_N_t = SELECT SUM(c) FROM t`

[2016-04-15 07:51] jgoizueta commented on #232
With any overview or base table `t` and numeric column `c` we can compute the mean for a group of records with `SUM(c*_feature_count)/SUM(_feature_count)` and the sum with `SUM(c*_feature_count)`.

Now, we could store the sum of numerical columns instead (which simplifies a little the overview creation) and the previous expressions would still allow us to compute the sum and the average.

[2016-04-15 08:05] #223 closed

[2016-04-15 08:06] #226 closed

[2016-04-15 08:06] #225 closed

[2016-04-15 08:38] iriberri commented on #232
Looking good! Nice catch :)

[2016-04-15 08:48] jgoizueta commented on #232
@iriberri please review

[2016-04-15 09:10] #232 closed

[2016-04-15 16:04] #231 closed

[2016-04-18 09:44] jgoizueta commented on #218
Solved in #224, Version 0.15.1 of the extension includes the fix.

[2016-04-18 09:44] #218 closed

[2016-04-18 14:20] jgoizueta opened #235 "Overview creation is too slow for tables with many columns"
Generating the aggregation expression for the columns of a table is too slow; e.g. it may take about 50sec for 36 columns. The calls to `CDB_ColumnNames` and `_cdb_unlimited_text_column` from `__CDB_Attribute_Aggregation_Expression` seem to be the main culprit (removing them reduces the execution time of this function to less than a fifth).

All the column information needed could be obtained in a

[2016-04-18 16:19] jgoizueta commented on #235
The `information_schema.columns` view we're using is functions such as `CDB_ColumnNames` or `_cdb_unlimited_text_column` is very slow to access.

We can on the other hand query the table columns and the column type info we need with the next kind of query, which can be 1000 times faster:

[code]

[2016-04-20 15:55] iriberri commented on #150
This is not cartodb-postgresql related, it's coming directly from ogr2ogr's output. Moving to https://github.com/CartoDB/cartodb/issues/7196

[2016-04-20 15:55] #150 closed

[2016-04-20 22:53] pnorman opened #239 "Non-NUMERIC binning functions"
Right now the signature for bin functions takes in an array of numeric[] and returns an array of numeric[] (e.g. `CDB_EqualIntervalBins ( in_array NUMERIC[], breaks INT ) RETURNS NUMERIC[]`. This is undesirable as it is inconvenient to use, and also a significant slowdown on simple binning functions.

To get bins of a `double precision` column with this signature you need to write `SELECT CDB_Equa

[2016-04-23 13:00] jgoizueta opened #240 "Overview clusters should be adusted to pixel centers"
Overviews can be generated with a `tolerance_px` parameter that clusters points to a pixel-based grid based on the webmercator tiles that the tiler (Windshaft) renders.

When TWKB is used by the tiler (to minimize the size of the data transfered from the database)
the coordinates are rounded to some number of decimals that by default are enough to address
each pixels uniquely (the least-significan

[2016-04-25 09:36] jgoizueta opened #241 "Full accuracy webmercator extents"
The actual value of the webmercator equatorial circumference (used for tiling) is based on the value 6378137 for the Earth radiut (taken from the semimajor axis of WGS84’s ellipsoid). So, the size of the level 0 tile (2·R·PI) should be more accurately computed as 40075016.68557849 (current value is 40075017.0).

We should replace the definition of [CDB_XYZ_Resolution](https://github.com/CartoDB/ca

[2016-04-25 15:30] #235 closed

[2016-04-25 15:30] #240 closed

[2016-04-25 15:30] #241 closed

[2016-04-26 11:04] javisantana opened #245 "use mode when creating overviews for integer columns"
when a table has an integer column the avg is being calculated when you usually need the mode (they are categorical values)

[2016-04-26 11:46] jgoizueta commented on #245
The problem is integer columns may represent categorical data or any other kind of magnitude (think population...)

[2016-04-26 12:12] javisantana commented on #245
the final decision is:

- when the column has less than 20 different values -> mode for aggregation
- more than 20 -> avg

[2016-04-27 16:16] #245 closed

[2016-04-27 20:01] pnorman opened #247 "Nulls in binning functions"
Right now our treatment of NULLs in binning functions doesn't make sense and is undocumented. As an example,

[code]

It is neither nulls first or nulls last, but nulls somewhere in the middle.

[2016-04-27 21:32] pnorman commented on #247
The [PostgreSQL docs](http://www.postgresql.org/docs/current/static/functions-aggregate.html#FUNCTIONS-ORDEREDSET-TABLE) state that "All the aggregates listed in Table 9-51 ignore null values in their sorted input." so I suggest we do the same.

Looking at the internals of CDB_QuantileBins the reason the NULL gets in the middle is it pulls from the sorted array for the 2nd last output element, whi

[2016-04-28 15:50] pnorman opened #248 "test/Makefile references out of tree file"
[test/Makefile](https://github.com/CartoDB/cartodb-postgresql/blob/master/test/Makefile) has a target which calls `bundle exec rspec ../../../spec/lib/sql_test_spec.rb`, which is outside cartodb-postgresql. Does this file exist elsewhere? Is this Makefile used?

[2016-05-03 16:19] santisaez opened #251 "cdb_analysis_catalog table should have same export config as cdb_conf"

[2016-05-09 08:54] jgoizueta opened #252 "Arguments to ST_EstimateExtent must not be quoted"
`_cdb_estimated_extent` generates a call to `ST_EstimateExtent` quoting (with double quotes) its arguments when they need it as identifiers, but that causes a syntax error when `ST_EstimateExtent` evaluates the arguments

[2016-05-09 11:04] #252 closed

[2016-05-10 16:10] danicarrion opened #255 "Column name sanity checks on cartodbfy"
Typical case:

create table books (Id integer, Name text);

Now, if you cartodbfy the table, it'll show up on the editor. However, the editor will fail to work properly with the table, because it'll fail to double-quote "Id" and "Name" on the SQL queries it sends, for instance, to filter data or to change the style of the map.

That's because our editor doesn't deal with column names that need to

[2016-05-24 08:29] jgoizueta opened #256 "Error during feature density evaluation for overviews creation"
In some cases, during overview creation an error occurs in the `_CDB_Feature_Density` function due to some expressions which should be integers being taken as floating point:

[code]

This has happened three times in production, but I haven't be able to reproduce so far.

[2016-05-24 13:45] jgoizueta opened #257 "Should limit the maximum level for which to create overviews"
If a table's points are all within a very small area, overviews will be created for high Z values that can cause overflow errors:

[code]

Here, trying to create overviews for level 31 will cause integer overflow because the clustering integer coordinates (`gx`, `gy`) would require more than 32 bits.

Since `gx` and `gy` are usually pixel clusters, they need 8 bits (for the 256 pixels per tile) mo

[2016-05-24 13:49] jgoizueta commented on #257
Note: the table that causes this problem was created with this Ruby snippet:

[code]

[2016-05-24 14:58] jgoizueta commented on #256
Could be related to #257

[2016-05-27 14:07] jgoizueta opened #260 "Overview levels greater than 23 can be created using bigints"
see #258

Performance impact should be tested. Code available in branch [bigint_overviews](https://github.com/CartoDB/cartodb-postgresql/tree/bigint_overviews)

[2016-05-27 14:15] #256 closed

[2016-05-27 14:16] #257 closed

[2016-06-03 10:12] rafatower commented on #260
can this be closed?

[2016-06-03 13:22] jgoizueta commented on #260
Still an open issue. We could discuss if it represents an improvement worth the effort (of measuring the performance impact and debugging it)

[2016-06-07 10:33] jgoizueta opened #261 "Should overviews tables size count for the user quota?"
Currently for raster table we count the base table size (fully) but not its overviews.
For regular tables (and its vector overviews) we count half of its size (to account for the overhead of having the webmercator geometry).

If we apply the same criterion to vector overviews as we do for raster overviews we should not count it's size... or we could decide to count a fraction of its size...

[2016-06-07 10:35] jgoizueta commented on #261
cc @rafatower @javisantana

[2016-06-07 10:41] jgoizueta commented on #261
https://github.com/CartoDB/cartodb-postgresql/blob/0.16.4/scripts-available/CDB_Quota.sql#L42-L48

Note that `is_overview` doesn't currently include vector overviews, only raster overviews

[2016-06-07 10:42] rafatower commented on #261
I'd go for applying the existing raster criterion (simple and consistent).

[2016-06-20 09:03] #261 closed

[2016-06-27 15:08] rafatower opened #263 "Be resilient to some issues with gdal ogr CartoDB driver"
Related to https://github.com/CartoDB/gdal/issues/2

The gdal ogr2ogr CartoDB driver is creating tables populating `the_geom` and leaving `the_geom_webmercator` with all `NULL` values. IMHO this should not happen as we expect both columns to be in sync with each other if the exist.

[2016-06-28 21:34] rochoa opened #265 "CDB_AnalysisCatalog should allow to store error messages for nodes"
So it's easier to share error messages from different applications operating it.

[2016-06-29 09:31] rochoa opened #266 "CDB_QuantileBins producing null stops"
Example:

[code]

[2016-07-01 11:07] #265 closed

[2016-07-01 12:58] #251 closed

[2016-07-05 14:40] jgoizueta opened #269 "Exclude NULL geometries when creating Overviews"
The presence of (many) NULL geometries can make overview creation take a long time (more than the current 1h timeout used in CartoDB).

Simply filtering out NULL geometries here https://github.com/CartoDB/cartodb-postgresql/blob/415d96082e5b6cef72299fef89d4f170d911aa02/scripts-available/CDB_Overviews.sql#L689
(`WHERE the_geom IS NOT NULL`) avoids the problem.

An inconvenience of doing this is tha

[2016-07-25 18:56] vaxhax commented on #179
<img width="571" alt="screenshot 2016-07-25 13 52 00" src="https://cloud.githubusercontent.com/assets/6936353/17113197/2abaeaae-526f-11e6-94a2-764777b4361b.png">

@jgoizueta not trying to necro the now aging thread, but I got the exact error you posted on 23 Nov 2015.  Is this related to #142 also?  Following the steps in the docs, using latest cartodb-postgresql tag as of today on fresh 12.0.4 x6

[2016-07-28 08:54] jgoizueta opened #271 "Should limit the length of overview table names"
The name of CARTO tables is limited to a maximum of [63 characters](https://github.com/CartoDB/cartodb/blob/1a38b8707421fef1040ed1d6dde89a3a540bc770/lib/carto/db/sanitize.rb#L9),
according to PG's limit [NAMEDATALEN](https://www.postgresql.org/docs/9.5/static/sql-syntax-lexical.html#SQL-SYNTAX-IDENTIFIERS)).

But when a overview table name is generated the name is extended and can overpass this li

[2016-08-03 15:36] jgoizueta opened #272 "Add node attribute for the version of the odbc-fdw package"
Add an attribute and use it for the odbc-fdw package in the cartodb-dataservices-api cookbook

[2016-08-03 15:50] jgoizueta commented on #272
wrong repo :sad:

[2016-08-03 15:50] #272 closed

[2016-08-11 14:25] azamorano opened #273 "Add new column to cdb_analysis_catalog"
A new column for cdb_analysis_catalog with the name of the possible cached table associated with the analysis would be helpfulu for cleaning tasks.

[2016-08-16 09:27] #273 closed

[2016-09-02 12:10] cayetanobv commented on #64
Hi team, just FYI (and if it is useful for other users maybe you can adjust the behavior of the function with a new parameter...)
We have a use case in a "multiuser enterprise account" where we need to know exactly what tables owns each user (public and privates). Each user corresponds to a different geographical area. We modified function CDB_Tables() for that purpose (with "theuser" as argument)

[2016-09-05 09:54] alasarr commented on #64
We've faced out with this issue several times. I think we should explain it at the doc, I'm sending a PR.

[2016-09-12 08:12] jgoizueta commented on #260
After looking at the actual use of overviews and errors happening during its creation, this does not seem to be needed.

[2016-09-12 08:12] #260 closed

[2016-09-26 10:04] #64 closed

[2016-10-03 08:55] rochoa opened #276 "Make cdb_analysis_catalog content be dumpable and restoreable"
We only care about schema on pg_dump/restore.

cc @zenitraM

[2016-10-05 09:45] rafatower opened #277 "Do not count analysis intermediate tables as part of the quota"

[2016-10-10 12:36] Baguewi opened #278 "test test/CDB_QueryTablesTest ... FAILED"
I am installing cartodb but I'm stuck on this error if someone can help me

============== creating database "contrib_regression" ==============
CREATE DATABASE
ALTER DATABASE
============== running regression test queries        ==============
test test_setup               ... ok
test test/CDB_CartodbfyTableTest ... ok
test test/CDB_DateToNumberTest ... ok
test test/CDB_DigitSeparatorTest ... ok

[2016-10-10 13:04] jgoizueta commented on #278
@Baguewi can you post your `regression.diffs` contents after running the tests?

[2016-10-10 13:21] Baguewi commented on #278
@jgoizueta here is my file regressio.diffs

*** /home/diallo/cartodb-postgresql/expected/test/CDB_QueryTablesTest.out	2016-10-10 15:04:29.545068000 +0200
--- /home/diallo/cartodb-postgresql/results/test/CDB_QueryTablesTest.out	2016-10-10 15:07:39.089068000 +0200
***************
*** 1,5 ****
  \set ECHO none
! SELECT * FROM geometry_columns|{pg_catalog.pg_attribute,pg_catalog.pg_class,pg_catalog.pg

[2016-10-10 13:54] jgoizueta commented on #278
What version of PostGIS are you using?

Seems like the tests expect version 2.2 and you have a different one (the `geometry_columns` view in your version doesn't use `pg_constraint`). This is not really relevant and you can ignore this test fail, but other parts of CARTO will expect PostGIS >= 2.2, so  you should make check it.

[2016-10-10 15:11] Baguewi commented on #278
I use version 2.2.3 of PostGIS.

My tests pass
But after finishing to install cartodb I can not insert a user with Requet sh script / create_dev_user $ {} SUBDOMAIN

Here is the error that returns me:

[pool] Found a connection for localhost:cartodb_dev_user_2d642ffd-f761-4017-8c0f-60b80b1e94c0_db:5432:postgres:sequel (4)
(0.000079s) BEGIN
(0.000125s) GRANT CONNECT ON DATABASE "cartodb_dev_user_2d

[2016-10-10 16:18] jgoizueta commented on #278
@Baguewi the problem seems to be here, where a log file cannot be opened. Check if the directory `/home/diallo/cartodb/log` exists.

[code]

[2016-10-10 16:21] jgoizueta commented on #278
Of course, the problem now doesn't seem related to this SQL extension, so if you cannot solve it you may want to open a ticket in the https://github.com/CartoDB repo.

In any case, thanks for sharing the details of your problem, @Baguewi

[2016-10-10 21:20] Baguewi commented on #278
@jgoizueta Actually the /home/diallo/cartodb/log did not exist, I add the directory with the mkdir command and I managed to insert my user.

Thank you for your help.

[2016-10-10 21:21] Baguewi commented on #278
@

[2016-10-10 21:22] #278 closed

[2016-10-11 13:00] jgoizueta opened #279 "Function to check analysis tables limits"
This is to support https://github.com/CartoDB/camshaft/issues/206

We need a function `CDB_CheckAnalysisQuota(table_name TEXT)` that raises an exception if the limit for Camshaft cached analysis tables has been exceeded.

This will be called after each cache table is populated, passing the name of the table as a parameter. For our initial strategy (of just limiting the total analysis table space p

[2016-10-14 12:35] Baguewi opened #282 "Data import CSV file"
Hello if someone can help me.
I had installed CartoDB locally on my Ubuntu 14.04 and the installation was perfect. I can create dataset by CartoDB's GUI and able to visulaize data perfectly without any problem. But when i drag and drop a csv or geojson file externally from my system, it is throwing an error as below

Rails:
![73d1b0b0-914e-11e6-92dd-c079c7c2d7fe](https://cloud.githubusercontent.co

[2016-10-17 15:07] #269 closed

[2016-10-20 12:29] zenitraM commented on #276
The cause for this was the varying column order we introduced on one of the migrations on 064b26ccd327bf079a9d25f9ed2fe79c2c742bae, in particular, the `username` field.

As we added the username on the last column for new extension installs but on a different one on upgrades, this caused the column order not be always the same. (position 1 or 10).

pg_dump does not include the extension source (so

[2016-10-20 13:44] #276 closed

[2016-10-21 08:04] #277 closed

[2016-10-21 08:04] #279 closed

[2016-10-28 10:42] jaakla opened #286 "Overview strategy with point samples"
Instead of putting clusters to pixel grid centres use one of the points as a sample. This gives nicer look if you zoom in map quickly using vector data (in mobile-sdk) - with default strategy you see regular grids of points as pixels until more detailed zoom is loaded.

[2016-11-03 12:32] jgoizueta commented on #286
The strategy currently used for automatically created overviews on imports (grid centre) was chosen for browser tiled visualisation mimicking the approach of torque, and assuming the grid size would be smaller than a pixel in normal visualisation.

When creating overviews manually (i.e. calling `CDB_CreateOverviews`) we can provide a different clustering strategy (in the form of a PostgreSQL funct

[2016-11-28 16:30] jaakla commented on #286
Maybe even the default strategy could be replaced, as for rasters there is probably no visible difference if we put the aggregated point to the center of pixel or to some other point within same pixel? For vector tiles (which is the future anyway) Sample-based strategy would be much better, especially for quick zoom in and overzoom use cases. I have used 8 and 16-pixel tolerances for vector tile s

[2016-11-28 17:02] jaakla opened #289 "Support Polygon and Line overviews"
Required to avoid too large vector tiles in lower zoom levels. Should do line simplification with given parameter tolerance and strategy (default DouglasPeucker, but certain datasets need different one).

Alternative would be to do automatic simplification in vector tile generator ("renderer") level. Overview approach would make rendering faster, and there would be simplification tuning options.

[2016-11-28 17:06] jgoizueta commented on #286
The current default was carefully adjusted to act like torque clustering to a 1-pixel grid, and in particular to avoid visual artifacts (at pixel level) due to the use of TWKB (see #240).

If we do an efficient implementation of [_CDB_GridClusterSample_Reduce_Strategy](https://github.com/CartoDB/cartodb-postgresql/blob/5992304b475232a3f95b9a628b9f83e82eae1d43/scripts-available/CDB_Overviews.sql#L9

[2016-12-02 10:07] jgoizueta commented on #286
The new version of the cartodb extension, 0.18.5, which is in production, includes:
* ` _CDB_GridClusterSample_Reduce_Strategy` to create overviews clustering by a grid, aggregating columns except for the cartodb_id and the geometry, taken from a sample point in the grid (actually, the one with the minimum cartodb_id).
* `_CDB_GridClusterCentroid_Reduce_Strategy` which is similar, but the geometry

[2016-12-02 10:07] #286 closed

[2017-01-09 15:13] jgoizueta opened #291 "Failing Google geocodings are flooding the logs"
This user geocodings: https://carto.com/superadmin/users/80453/geocodings
are failing for many of the rows generating lots of messages in rollbar and production.log
(we've found about 78M "Error geocoding" lines in a couple of que0Ns)

[2017-01-09 15:15] #291 closed

[2017-01-12 23:48] kiwibrew opened #292 "0.18.5 DigitSeparatorTest ... FAILED"
Followed build instructions here: http://cartodb.readthedocs.io/en/latest/install.html
on a clean "12.04.5 LTS, Precise Pangolin"
Executing "sudo PGUSER=postgres make installcheck" results in 22/23 tests passing

Test that fails is test/CDB_DigitSeparatorTest. Any help would be much appreciated!

_**/home/jonathanbrewer/cartodb-postgresql/regression.diffs**_

[code]
**_/home/jonathanbrewer/cartodb

[2017-01-15 01:41] kiwibrew commented on #292
I've had a look around at what's going on.

First I created the CDB_DigitSeparator function defined in https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_DigitSeparator.sql which works just fine.

The actual failing test is here: https://github.com/CartoDB/cartodb-postgresql/blob/master/test/CDB_DigitSeparatorTest.sql so I decided to step through it manually.

`
postgr

[2017-01-27 17:24] javitonino opened #293 "Schema changes in user dbs do not trigger invalidation"
Schema changes on user tables do not execute the invalidation trigger, meaning that after adding a column to a table using the SQL API, running a `SELECT *` does not return the new columns.

STR:
- Create a table
- Run `SELECT * FROM table`
- Run `ALTER TABLE table ADD COLUMN wadus int`
- Run `SELECT * FROM table`

Currently, you get the table without the new column, until you do an insert/update

[2017-01-27 17:41] rochoa commented on #293
This is an old friend, but let's use this as the issue to track it.

This supersedes https://github.com/CartoDB/cartodb/issues/11114.

References: https://github.com/CartoDB/pg_schema_triggers/issues/4.

[2017-01-27 18:40] javitonino commented on #293
Oh, I didn't think to search in the cartodb repo. Sorry for the duplicate!

[2017-02-22 21:08] drzhouq opened #294 "why do we need plpythonu extension"
It seems to me that only a few functions  require the plpythonu extension for performance reasons. I am wondering whether we can rewrite those in PL/Java instead.  Because Amazon AWS RDB does not support plpythonu because of security concern, it would be nice to have those functions rewritten in Java.

[2017-03-15 17:52] rafatower opened #295 "Create function CDB_EstimateRowCount(query text)"
### Description

Add a new function to `cartodb` extension to be called `CDB_EstimateRowCount(query text)`.

The purpose of that function is, given a query, to return a row count estimate that is suitable for quota usage estimation.

Example of its usage:
[code]

What the function should do:
1. Get the list of tables affected by the query
1. Make sure stats exist for all of them, otherwise execute

[2017-03-15 18:06] jgoizueta commented on #295
For reference, see this JS implementation: https://github.com/CartoDB/camshaft/blob/054fb088ffdae8f3e89c455ebff12dd323ca6693/lib/limits/estimates.js#L27-L38

[2017-03-16 19:17] radumas commented on #294
@drzhouq, have you tried installing this on an RDS? I was wondering to what degree functionality is impacted if you just create the sql functions without anything that requires python

[2017-03-18 14:54] drzhouq commented on #294
No, I haven't. RDS does not allow python language (still). I never had time (or too lazy) to look into those functions and rewrite it in PL. One of those days, I might be cornered to do this. I will update you when that happens.

[2017-03-21 09:20] rafatower opened #296 "Cartodbfy check for PK candidates may fail with an error"
@rafatower commented on [Tue Mar 21 2017](https://github.com/CartoDB/dataservices-api/issues/356)

Seen while checking import platform errors:
[code]

stack trace:
[code]

[2017-03-21 09:47] rafatower commented on #296
Here's where it fails: https://github.com/CartoDB/cartodb-postgresql/blob/795d92da8db9f6fcfebdee649e0f32e9c7588403/scripts-available/CDB_CartodbfyTable.sql#L535

The problem is that under the hood it tries to create a b-tree index to check if a column has unique values and it does so on an arbitrary candidate column. PG is hitting some limitation during b-tree index generation.

To reproduce the i

[2017-03-29 14:45] BrenoMazieiro commented on #156
Still the same problem, master is not working, what should i do?

[2017-04-07 13:37] jgoizueta commented on #295
PR here: https://github.com/CartoDB/cartodb-postgresql/pull/298

[2017-04-10 16:11] jgoizueta commented on #295
Acceptance could be checked in staging, installing the branch and updating the cartodb-extension for some user.

Things to check:
* For a newly created table with some rows inserted the estimate `CDB_EstimateRowCount('select * from table')` should be accurate. Also: for a fresh table with no stats, after calling `CDB_EstimateRowCount` stats should be present.
* For a newly created empty table an e

[2017-04-11 10:44] jgoizueta commented on #295
Acceptance was successful in staging; moving on to deploy in production

[2017-04-11 16:27] jgoizueta commented on #295
Deployment almost done, I'll finish tomorrow updating the extension version in all the users databases.

[2017-04-12 13:52] jgoizueta commented on #295
Deployed in production; all user SAAS databases upgraded to version 0.19.0 of the extension which includes the new function.

[2017-04-12 13:52] #295 closed

[2017-05-05 11:12] ethervoid opened #299 "Maybe we should use INMUTABLE in CDB_QueryTablesText"
Working on the base maps logs I've seen that we use the `cdb_querytablestext` a lot and I've noticed that the function is created as `VOLATILE` so we're not doing any possible optimization. Is this a conscious decision or we can move it to `IMMUTABLE` or `STABLE` so we could save some query time?

I've checked the base maps logs to count the number of queries and these are the numbers:
[code]
abou

[2017-05-09 11:17] javisantana opened #300 "mark functions as parallel"
Using any function from this extension makes postgres (>=9.6) planner unhappy because it can't paralelize anything.

We should mark functions as parallel when possible (for example cdb_xyz_* family)

https://www.postgresql.org/docs/current/static/parallel-safety.html

It should be also compatible with postgres 9.5. (it worths checking postgis way to do this: https://github.com/postgis/postgis/blob

[2017-05-24 10:01] ethervoid opened #301 "Make optional the analyze part in CDB_EstimateRowCount"
The CDB_EstimateRowCount function executes an `ANALYZE` in the affected tables of the query when that tables don't have stats. But this operation could come at a great cost if, for example, the table is big so we should add an optional parameter to skip the analyze part where performance is more important and we can deal with tables without stats.

This issue arises because in the tiler we're usin

[2017-05-24 10:22] rafatower commented on #301
is this required to go out with vector/raster?

[2017-05-24 10:24] ethervoid commented on #301
Due to a conversation with @javisantana I think is a nice to have more than a must

[2017-05-24 10:56] javisantana commented on #301
I don't think this is critical but there are a few things why we should change this:

- writing in a function that is created to get data seems not fine.
- calling this function with different users could give different results
- depending on that statistics target it cold take a while and this function was created to be fast (that's why we are estimating and not counting)

[2017-06-02 14:21] ethervoid opened #303 "[Overviews] Usage of quote_ident makes use of schema in strategy functions"
We're using [quote_ident](https://www.postgresql.org/docs/9.5/static/functions-string.html#FUNCTIONS-STRING-OTHER) to surround with quotes strings passed as parameters when they're needed [here](https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_Overviews.sql#L1088) and [here](https://github.com/CartoDB/cartodb-postgresql/blob/master/scripts-available/CDB_Overviews.sql

[2017-06-05 16:22] ethervoid opened #304 "[Overviews] CDB_Sampling_Reduce_Strategy returning fewer samples that should"
@jgoizueta found an issue with _CDB_Sampling_Reduce_Strategy. It uses CDB_RandomTids, which samples by skipping pages.

Since overviews are created in cascade, each level from the next (higher zoom) one, [and now the overview tables are reused deleting its rows (not truncating to avoid locking)](https://github.com/CartoDB/cartodb-postgresql/pull/302), the first time an overview table has been reus

[2017-06-29 10:42] rafatower opened #305 "Unique identifier generation can break CDB_CartodbfyTable"
The way we generate unique identifiers can cause trouble to the client code, such as `CDB_CartodbfyTable`, because it can rapidly exhaust the space of names it is able to generate.

The real-world scenario we found is a user creating empty layers and then renaming them.

That scenario can be reproduced with this script:
[code]

which breaks with this error:
[code]

Here's the code generating the u

[2017-06-29 13:15] rafatower commented on #305
Here's my proposal:
- create a sequence to generate unique identifiers, within the extension and owned by the extension.
- compose the identifier as `prefix + _seqid`, trimming the prefix length to not surpass the 63 bytes identifier limit.

Sequences can generate numbers up to `9223372036854775807` which is long enough to make sure there will be no collisions. That figure is 19 chars long, if we

[2017-06-29 14:09] jgoizueta commented on #305
Another proposal to avoid having to create the sequence: use a non-iterative, non-limited function to add a distinct numeric prefix like this (and trimming from the left to stay within 63 chars):

[code]

I admit this is uglier than the other solution.... 🤔 and maybe we can create (if not exists) the needed sequence inside function to generate unique identifier, in which case probably that approac

[2017-06-29 14:10] rafatower commented on #305
Anyway mine would not work cause we cannot make assumptions about existing identifiers.

[2017-06-29 15:23] rafatower commented on #305
Here's how postgres does it internally:

https://github.com/postgres/postgres/blob/113b0045e20d40f726a0a30e33214455e4f1385e/src/backend/parser/parse_utilcmd.c#L427

https://github.com/postgres/postgres/blob/08aed6604de2e6a9f4d499818d7c641cbf5eb9f7/src/backend/commands/indexcmds.c#L1579

funny enough, they use an infinite loop. I think the most cost-effective solution is just to raise the search sp

[2017-06-29 16:56] rafatower commented on #305
PR here: https://github.com/CartoDB/cartodb-postgresql/pull/306

[2017-06-30 13:04] #305 closed

[2017-09-05 17:07] pramsey commented on #300
Almost everything can be marked parallel. If it doesn't read from a table, it can be marked.

[2017-09-12 23:35] tylerparsons opened #308 "CDB_TableMetadata_Text gives erroneous updated_at timestamps"
Recently, I ran into an issue with a deployment of cartodb where rendering of tiles experienced unexpected cache misses.  Though our underlying data was not changing, calls to e.g.

`SELECT * FROM CDB_QueryTables_Updated_At('select * from my_unchanged_table');`

consistently returned later `updated_at` timestamps than expected, thus causing cache misses when rendering.  After doing some digging, i

[2017-09-13 09:08] jgoizueta commented on #308
Good catch and nice report, thanks @tylerparsons
I'll pass this along to our response team

[2017-09-13 16:29] jgoizueta commented on #308
This should fix problem: https://github.com/CartoDB/cartodb-postgresql/commit/2c687e0823df40fbe090eaa88d5d2ee60b3ab413

Note that int the source file (`CDB_TableMetadata.sql`) the `CDB_TableMetadata` table and the `CDB_TableMetadata_Text` view are created in the `public` schema, but then in the Makefile which generates the extension script we have this: https://github.com/CartoDB/cartodb-postgresq

[2017-09-13 16:31] gfiorav commented on #308
@jgoizueta cooked up this patch! https://github.com/CartoDB/cartodb-postgresql/commit/2c687e0823df40fbe090eaa88d5d2ee60b3ab413

Bloomberg guys will test it and report here. Thanks!

[2017-09-13 16:59] vmanohar1 commented on #308
In our environments,  the view is present under cartodb schema..
If you remove public(in principle it is fine!), will the extension deployment still put the change under cartodb schema?

[2017-09-13 17:02] vmanohar1 commented on #308
We just want to make sure that after your changes, the view gets deployed to cartodb extension only.. Please verify on that. Thanks.

[2017-09-14 13:35] jgoizueta commented on #308
Hey @vmanohar1  your concerns are valid in that If you use a snippet from the commit verbatim to manually create the view in a database you'll end up with the view in the wrong schema. You should replace the `public` schema by `cartodb` before executing it.

On the other hand if you build and install a new version of the extension with that commit it will work alright (and create the view in the c

[2017-09-14 14:20] tylerparsons commented on #308
Thanks for the clarification @jgoizueta, we were able to deploy the fix under the cartodb schema without issues.  Initial testing on our dev cluster indicates this fix works as intended.  We will move it to our QA environment this morning and confirm everything looks good from there.

[2017-09-14 14:43] vmanohar1 commented on #308
Thanks  @jgoizueta for your quick responses.. I do think you need to keep "public." in that view definition if you are not changing anything in the Makefile..

[2017-10-25 16:17] Algunenano commented on #300
I've been working on this in #312 and right now it's at least building and passing tests in 9.5 (no parallel) and 10. I'm not completely happy about how the version is handled (grepping out PARALLEL when it isn't supported) but I prefer it to generating all sql files from .in with configure just for this.

I've added PARALLEL in all functions although PARALLEL UNSAFE could be omitted to make sure

[2017-10-26 16:44] AbelVM opened #313 "Improve tile rendering time by clustering during import process"
While working on https://github.com/CartoDB/QuadGrid, which tries to solve a problem quite related to the query used by CARTO to fetch the data to render tiles. Benchmarking different approaches, I've found that just reshuffling the data to be clustered base on the_geom_webmercator leads to a performance improvement between 15% and 25%

The code used is https://github.com/CartoDB/QuadGrid/blob/mas

[2017-10-27 08:59] Algunenano opened #314 "Slow performance in CDB_RectangleGrid"
Depending on the zoom level, `CDB_RectangleGrid` can be extremely slow. For example:

[code]
[code]

The query was generated as part of the map preview and the full query looks something like this:
[code]

[2017-10-27 13:47] AbelVM commented on #313
cc @jgoizueta because of the mention in Slack :grin:

[2017-10-28 08:42] AbelVM commented on #313
Some simple tests with a `sample` table (1497711 points ~ 1.5M)

Using simplified tile checking as described [here](https://github.com/CartoDB/support/blob/master/guides/performance_and_monitoring/04_monitoring_with_SQL.md#checking-number-of-features-per-tile):

[code]

Selecting tiles of interest in the map view of the dataset, and different approaches:
1. as is
2. clustered by `the_geom` index
3

[2017-10-28 08:44] AbelVM commented on #313
cc @oriolbx

[2017-10-30 10:59] AbelVM commented on #313
**SIDE NOTE:**
Clusters get degraded (fragmented) over time if the user performs write operations on the dataset, so the databases should be clustered as a maintenance task (ala `VACUUM`)

[2017-10-30 14:59] Algunenano commented on #300
I've been testing this with an up to date release of Builder and I haven't seen any issue. Also, I haven't seen any measurable improvement yet and I think this is due two factors:
- Analysis queries are not properly marked yet (https://github.com/CartoDB/crankshaft/issues/181).
- Aggregation queries are not really efficient nor parallelizable, for example the
 query for SQUARES aggregations times

[2017-10-31 16:18] Algunenano commented on #314
Apparently the function is duplicated in [crankshaft](https://github.com/CartoDB/crankshaft/blob/ef436546b4f113eb425c967e30fd577d07076f69/src/pg/sql/cdb_utils.sql) so either the extension is set up as dependency or any improvements need to be applied in both places.

[2017-11-01 16:50] AbelVM commented on #313
cc @inigomedina for awareness

[2017-11-02 12:14] jgoizueta commented on #314
I checked replacing the loops by a query using `generate_series` (because I had a very similar query around, to see if that was an easy fix) and it still times-out 😞

This is the function I checked:

[code]

[2017-11-02 13:44] Algunenano commented on #314
I think a good way to approach this would be to use a bigger zoom (e.g. zoom level 8) which will generate less geometries and use pgbench to measure it.

Also, we should keep in mind that maybe there are other ways to generate the grid view that doesn't involve intersecting a table with all the possible geometries there are for a certain zoom level.

[2017-11-02 17:23] pramsey commented on #300
Be careful with sprinkling VOLATILE around, it's only for places where two runs of the same function with the same parameters might result in different results (function depends on other tables, usually).

[2017-11-03 08:36] Algunenano commented on #300
You are right, but keep in mind that VOLATILE is the default when it's not declared so I don't expect it'd have any impact; it's just a way for explain that we have reviewed the functions and they are indeed volatile, which helps categorize other functions that use them or if we decide to change the implementation to make them IMMUTABLE (if possible).

The main factors I've seen to having to decla

[2017-11-08 18:41] tylerparsons commented on #308
Hey @jgoizueta - sorry for the delayed update, but wanted to let you know that this fix has been deployed in our prod environment for some time now.  The new view logic works as expected.

We applied the view manually under the `cartodb` schema with

[code]

We'll defer to you on the exact schema that should be used in the checkin, as I understand there may be some post-processing of the schemas i

[2017-11-17 08:36] Algunenano commented on #300
Merged and deployed as https://github.com/CartoDB/cartodb-postgresql/releases/tag/0.20.0

[2017-11-17 08:36] #300 closed

[2017-12-20 08:46] Algunenano opened #317 "Release 0.20.1"
There has been some reports of issues with osx and 0.20.0. It's solved with 5243192 but it's not in a release.

[2018-01-16 10:10] inigomedina commented on #7
I'm closing this issue because it has been inactive for a long time. This probably means that it is not reproducible or it has been fixed in a newer version. If it's an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue.

Thank you!

[2018-01-16 10:10] #7 closed

[2018-01-16 10:11] inigomedina commented on #23
I'm closing this issue because it has been inactive for a long time. This probably means that it is not reproducible or it has been fixed in a newer version. If it's an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue.

Thank you!

[2018-01-16 10:11] #23 closed

[2018-01-18 08:22] rafatower opened #318 "Check how we manage PK sequences in cartodbfy"
As per @pramsey it seems like we're creating sequences for cartodbfy'ed tables without taking into account ownership. If that is the case, the sequences will be left all over the place when deleting tables.

We should fix it for the sake of housekeeping. Mind that a large number of dangling objects in the catalog may impact performance.

[2018-01-18 13:14] pramsey commented on #318
I'm wrong, we do set ownership (though maybe we once didn't? ogr2ogr didn't? anyways I had some orphan sequences, but in general the tables in my account *do* set ownership. Also, though there was a bug, it was really all ogr2ogr's fault. There's one tweak we could make, I'll do a little PR for discussion, it's cosmetic.

[2018-01-31 13:03] javitonino opened #321 "Sharing a table read-write doesn't give access to sequences"
**STR**
- Share a table RW with another user in the organization
- As the second user, execute an INSERT without specifying PK: `INSERT INTO owner.untitled_table (name) VALUES ('a')`

Error: `permission denied for sequence untitled_table_cartodb_id_seq0`

We should give sequence access as well in https://github.com/CartoDB/cartodb-postgresql/blob/8131887204e76722a2ebda01b0ab5acee7abc911/scripts-av

[2018-01-31 13:12] javitonino commented on #321
cc @ramiroaznar (more RT material 😈)

[2018-02-15 09:21] Algunenano commented on #314
Here is a sample query where this is used:
[code]

I think the way to go is to change how this is achieved instead of using `CDB_RectangleGrid` to generate all the tiles. I see some issues with the current approach:
* Not parallelizable.
* The bbox is applied after generating the grid.

After with @jgoizueta I think that the idea of using the aggregation API is interesting, both for the rectangle

[2018-02-15 13:00] pramsey commented on #314
So, thinking about a "gridless" way to do this, one idea that comes to me is a CDB_RectangleCells(geometry, zlevel) that returns an array of all the tiles on that zoom level that intersect the input geometry. Potentially I guess they could then be un-nested, grouped and summarized in parallel (not sure that the unnesting wouldn't break the parallelism though).

What are your ideas on a way to get

[2018-02-15 13:56] Algunenano commented on #314
My initial idea was the same but instead of returning an array of geometries having another parameter (mode) and return only one geometry, aka: `CDB_RectangleCells(geometry, mode, zlevel)` with mode being `fast` (any/first point in the geometry), `median` (using the geometric median of all points). I recon this means that a geometry would only intersect with one grid which isn't great but works fo

[2018-02-15 13:59] pramsey commented on #314
For hexagons I think we need a definition of a standard hexagon tiling of our space, so that it's possible to say "level 4, hexagon 34,52" and know exactly what area we're talking about, every time. The Uber hexagon coverage could be a place to work from, or something less sophisticated in planar/mercator space.

[2018-02-15 15:29] #321 closed

[2018-02-15 16:22] pramsey commented on #314
Huh, I wonder what we do now for non-point grid/hex maps. Will have to take a look.

[2018-02-15 16:41] Algunenano commented on #317
https://github.com/CartoDB/cartodb-postgresql/releases/tag/0.21.0

[2018-02-15 16:41] #317 closed

[2018-02-19 17:22] jvillarf opened #324 "Publish cartodb repo commit along with the release notes"
## Description
Hello :hugs: ,

this is just a friendly request: we are now working in the new **onpremises-2.2.0** release using **omnibus** to compile every **carto** componente from sources. It turns out, we were installing **cartodb-postgresql extension 0.21.0**, but our builder version was pointing to `v4.11.38` which doesn't include **postgresql extension 0.21.0 version**. Of course, we shoul

[2018-02-19 17:22] jvillarf commented on #324
**Related ticket**: https://github.com/CartoDB/onpremises/issues/450

[2018-02-20 09:53] rafatower commented on #324
If you picked master of `cartodb`, you may have had the bad chance of picking the "wrong version" between the changes in `cartodb-postgresql` and `cartodb` repositories. If you picked `v4.11.38` I don't really understand what could've happened.

As part of the process of deploying a new version, as described in the [docs](https://github.com/CartoDB/doc-internal/blob/master/tech-internals/source/pl

[2018-02-20 10:09] jvillarf commented on #324
Thanks for the feedback @rafatower , we'll make sure in the next release, we don't perform the checks above in advance :ok_hand:

[2018-02-20 10:09] #324 closed

[2018-03-20 17:45] andy-esch commented on #266
This is fixed in https://github.com/CartoDB/cartodb-postgresql/pull/316

[2018-03-21 10:34] ethervoid opened #325 "Create a table in Builder fails"
Seems to be related to the fix introduced by @pramsey [here](https://github.com/CartoDB/cartodb-postgresql/pull/319)

The error is:

[code]

And you can reproduce opening a rails console and doing:

[code]

[2018-03-21 10:50] jgoizueta commented on #325
The problem seems to be that the PG identifier length limit is being exceeded, so `wadus_table_c22d5412_2cf2_11e8_bfd3_00163ef2a37a_cartodb_id_seq_tmp` is truncated...

[2018-03-21 10:54] jgoizueta commented on #325
I think using a prefix `tmp_` instead of a suffix should do the trick.

[2018-03-21 10:57] ethervoid commented on #325
Commenting the code makes it works as intended so that code is the culprit definitely. Checking the fix proposed by @jgoizueta

[2018-03-21 11:08] ethervoid commented on #325
The fix proposed seems to do the trick. I've created a PR and I'm going to execute the integration tests with that fix

[2018-03-21 11:57] ethervoid commented on #325
We got another error:
[code]

Fixed [here](https://github.com/CartoDB/cartodb-postgresql/pull/326/commits/c3f2751091bda1d6fcd554fb646bdef4f5ebeb91)

[2018-03-21 16:14] #325 closed

[2018-03-21 16:32] Algunenano commented on #325
Adding a test that checks this would be nice for the future

[2018-04-24 22:44] andy-esch opened #328 "Clearly communicate compatible postgresql version"
With the introduction of the new CDB_QuantileBins, this extension is only compatible with postgresql versions 9.4+. There may be other features like being marked parallel which break backwards compatibility.

It would save users some headaches (for example https://github.com/CartoDB/cartodb-postgresql/commit/39998a9c88e788d1982f468427531f7314e039ed#r28723290) if there was a version check that abor

[2018-04-25 12:42] andy-esch commented on #328
cc @Algunenano

[2018-04-25 12:52] Algunenano commented on #328
Being marked PARALLEL shouldn't affect since it's dropped for non compatible releases, so we could simply update the [dependencies])(https://github.com/CartoDB/cartodb-postgresql/blob/master/README.md#dependencies) in the README.
Although that would be enough I think we should be running the CI with whatever PG releases we want to support.

[2018-04-25 13:05] andy-esch commented on #328
100% on the CI for PG releases. I'll do a quick PR to update the README

[2018-05-07 14:13] #328 closed

[2018-06-07 15:32] Algunenano commented on #318
Is this still necessary? Seems that @pramsey confirmed this isn't an issue but I could have a look if required.

[2018-06-07 16:19] rafatower commented on #318
Not for RT but to take into account when adding the COPY to GDAL, to take advantage of it to clean up accesses to catalog and metadata that can be avoided in the driver.

[2018-06-07 17:04] pramsey commented on #318
Let's shut this one down, I think it happened, but perhaps related to 3rd party tools, or in the distant past.

[2018-06-07 17:04] #318 closed

[2018-07-09 15:28] Algunenano opened #333 "CDB_EstimateRowCount / _CDB_GenerateStats isn't parallelizable"
While testing favouring parallel plans I get the following error in postgresql logs:

[code]

Costs config:
[code]

Can be solved by marking both `CDB_EstimateRowCount` and `_CDB_GenerateStats` as PARALLEL UNSAFE.

cc/ @CartoDB/rt-managers (Engine issue)

[2018-07-19 14:57] #333 closed

[2018-07-20 10:46] jgoizueta commented on #333
Situation:
We have a new release of the extension, 0.23.1 with this fix. It's deployed in all production db hosts and the rails codebase is already using it for new users. We are not updating existing users yet to avoid interfering with a hotfix we'll probably need to roll shortly for an unrelated issue.

[2018-07-20 13:09] rafatower commented on #308
@tylerparsons thanks a lot for the bug report and fix. Would you mind getting a CLA signed? You have some background info and instructions about our CLA here: https://carto.com/contributions/

@ramiroaznar I think getting the reference PR merged, released and deployed is a good fit for RT

[2018-07-20 19:15] gfiorav commented on #308
Hi! We have a CLA signed by the Bloomberg CTO for all the Maps team.
@jorgesancha, could you provide the copy you guys have to Rafa?
El El vie, 20 jul 2018 a las 14:09, Rafa de la Torre <
notifications@github.com> escribió:

--

*Guido Fioravantti*

who.guido.is

[2018-07-23 11:00] jgoizueta commented on #333
Everyone's on 0.23.2 thanks to @javitonino

[2018-07-26 02:59] casbie opened #336 "installcheck failed with GreatCircle & OverviewTest"
I followed the instructions to install cartodb-postgresql but have two fails while doing installcheck.
My OS version is Ubuntu 16.04 and I use the branch with tag 0.23.2

`test test/CDB_GreatCircle     ... FAILED`
`test test/CDB_OverviewsTest   ... FAILED`

I read the diff file but still not understand what causes the test fail.
The diff file is as the following:
[regression.diffs.txt](https://git

[2018-07-30 06:57] juanignaciosl commented on #106
Closing, this won't be addressed, no actual need.

[2018-07-30 06:57] #106 closed

[2018-09-10 09:12] Algunenano commented on #336
Should be fixed with https://github.com/CartoDB/cartodb-postgresql/pull/339. Thanks!

[2018-09-10 09:12] #336 closed

[2018-09-10 09:13] #266 closed

[2018-09-11 03:44] direvus commented on #299
It is definitely not IMMUTABLE -- the results of the function depend on parsing the output of EXPLAIN, which output will vary depending on the tables and indexes available to be queried.  A function is only IMMUTABLE if it is guaranteed to always return the same results given the same inputs.

You could possibly make an argument for STABLE.  I don't think there are any side-effects in the function

[2018-09-11 07:46] rochoa commented on #299
Thanks, @direvus.

A few months ago, @Algunenano worked on https://github.com/CartoDB/cartodb-postgresql/pull/312 to add the right information to almost all functions. He already checked `CDB_QueryTablesText`.

[2018-09-11 07:46] #299 closed

[2018-10-10 13:18] ethervoid opened #341 "Add DROP function to the artifact in order to avoid migration problems"
When we create a new version we don't add the DROP to functions that have been removed creating a problem when we try to migrate clients with those old functions.

[2018-11-02 10:26] ker2x opened #342 "[0.23.1] Regression test fail"
============== running regression test queries        ==============
test test_setup               ... ok
test test/CDB_XYZ_ExtentTest  ... ok
test test/CDB_HeadsTailsBinsTest ... ok
test test/CDB_QueryStatementsTest ... ok
test test/CDB_RectangleTest   ... ok
test test/CDB_QuotaTest       ... ok
test test/CDB_StatsTest       ... ok
test test/CDB_DateToNumberTest ... ok
test test/CDB_HexagonTest

[2018-11-13 10:32] ker2x commented on #342
Just tested with 0.24.0 (new carto install) and all test pass.

[2018-11-13 10:32] #342 closed

[2018-11-13 11:00] Algunenano commented on #341
Unless we've forgotten about it somewhere we are already doing this ([example](https://github.com/CartoDB/cartodb-postgresql/pull/340/files#diff-abaa85f717a1afdd6b0680a776aed39aR149).

Do you have a list of troublesome functions so we add the drop?

[2018-11-13 11:05] Algunenano commented on #247
Closing this as it's no longer the case.

[2018-11-13 11:05] #247 closed

[2018-11-13 11:07] ethervoid commented on #341
Yep, old ones. We have migration problems with the DDL old functions:

[code]

I'm pretty sure they're not in the current versions right now but this ticket was more like a suggestion if we're not doing it :)

[2018-12-24 09:45] javitonino opened #343 "Drop some old functions in the update script of the extension"
The following functions should be deleted in the extension upgrade script:
[code]

[2018-12-26 09:54] Algunenano commented on #343
Duplicates https://github.com/CartoDB/cartodb-postgresql/issues/341

[2018-12-26 09:54] #343 closed

[2018-12-26 10:01] javitonino commented on #341
cc @CartoDB/rt-managers (we have replaced #343 for this one)

[2019-01-03 16:31] #341 closed

[2019-02-26 10:34] ethervoid opened #347 "[Ghost tables] Event trigger for DDL instructions"
A new function that will be used to encapsulate all the even trigger logic. We have to decide if we leave the event trigger outside of this

- [ ] move SQL code from `create_ghost_tables_event_trigger` to `cartodb-postgresql` extension
- [ ] use TIS to enque the JOB

[2019-02-27 11:57] ethervoid commented on #347
Some thoughts for this new trigger and its implications:

We have to be careful with the DDL instructions we process. Why? because right now we trigger the Ghost Tables when the user enters in the dashboard but in the future, we're going to launch the events when a DDL instruction is executed. Why is that a problem? Because we're going to enqueue more jobs, I'm thinking in alter table with drop co

[2019-03-11 14:29] #347 closed

[2019-05-01 00:35] nballenger opened #352 "Type existence check for `_cdb_has_usable_geom_record` isn't search_path aware"
I'm trying to get the test suite running for the SQL API repo, and one of the issues I've run into is that the function def for `_CDB_Has_Usable_Geom` in `scripts-available/CDB_CartodbfyTable.sql` fails in the test database, because the Postgres instance claims that the data type `_cdb_has_usable_geom_record` doesn't exist.

The test database is templated off the `template_postgis` database which

[2019-05-22 20:12] AnthonyECrowdBotics opened #353 "Errors on InstallCheck"
test test/CDB_GhostTables     ... FAILED

  BEGIN
***************
*** 13,19 ****
  0
  CREATE TABLE
  1
! WARNING:  Error calling Invalidation Service to link Ghost Tables: Error -2 connecting fake-tis-host:3142. Name or service not known.
  NOTICE:  _CDB_LinkGhostTables() called with username=fulanito, event_name=CREATE TABLE
  COMMIT

--- 13,19 ----
  0
  CREATE TABLE
  1
! WARNING:  Error tryin

[2019-05-22 22:55] Algunenano commented on #353
Looks like it's missing python/pip redis.

@gonzaloriestra It seems the python redis module is now a dependency (https://github.com/CartoDB/cartodb-postgresql/commit/d1ee383d9bcf86ec906162f643f62fd7bdc50d2d#diff-354f30a63fb0907d4ad57269548329e3) for the extension. Is that correct? If so, we should update the README.

[2019-05-22 22:57] AnthonyECrowdBotics commented on #353
Just might be. I’m happy to help update the readme. Is the connection error
due to that as well?

On Wed, May 22, 2019 at 6:55 PM Raúl Marín <notifications@github.com> wrote:

[2019-05-23 06:11] gonzaloriestra commented on #353
@Algunenano Yes, I forgot to add it, thanks!

@AnthonyECrowdBotics thanks for reporting. So it's working now, right? The latest output you posted is the expected one: https://github.com/CartoDB/cartodb-postgresql/blob/74210c5b5cec34bbcba117b973d7d17ab3ad26a0/test/CDB_GhostTables_expect

[2019-05-24 06:31] AnthonyECrowdBotics commented on #353
Seems to working

[2019-05-24 06:33] #353 closed

[2019-06-22 00:39] nballenger opened #361 "What is the DBSCH command being passed to the invalidation service?"
I'm really confused by what is happening here:

https://github.com/CartoDB/cartodb-postgresql/blob/2e665a56b4a7dbc3bd8e3d91ac18b52bb932663c/scripts-available/CDB_GhostTables.sql#L41

In that line, `client` is a Redis client, but `DBSCH` is not a Redis command that I can find. Based on the file history all that line is doing is dropping a job onto the Resque queue to run ghost table linking. Is `DB

[2019-06-24 06:52] gonzaloriestra commented on #361
Hi! You are right. `DBSCH` is a custom command to enqueue the ghost table linking process. It's done in a private repository, but it can work without it.

[2019-06-24 06:52] #361 closed

[2019-06-24 17:02] nballenger commented on #361
Hi, Gonzalo--thanks for the confirmation, that's helpful to know.

[2019-07-02 14:07] jgoizueta opened #366 "CDB_SyncTable fails with organization user roles"
The user roles of org members are not allowed to create temporary tables:

[code]

A possible solution for this would be to avoid temporary table creation as in #365

cc @rafatower

[2019-07-09 13:41] owayss opened #368 "ghost tables: error in `CDB_SaveDDLTransaction()`"
**version**: `0.28.1`

I suspect that due to the limited `search_path` during pg_restore, Postgres is unable to find the constraint `cdb_ddl_execution_pkey` constaint:
[code]
This is an issue when the `cdb_ddl_execution` trigger is being restored:
[code]
As is ultimately calls the `CDB_SaveDDLTransaction()` func, which contains the -now- problematic upsert statement: https://github.com/CartoDB/car

[2019-07-09 13:46] Algunenano commented on #368
The issue is that `txid` isn't a primary key in that table, so `cdb_ddl_execution_pkey` doesn't exists. I don't know how that happened, so it'll need to be investigated.

Currently it's created as primary:
https://github.com/CartoDB/cartodb-postgresql/blob/4c93258cd2d93e530d474d7f7b124027cd973400/scripts-available/CDB_GhostTables.sql#L99

But we should check if this has always been the case.

[2019-10-25 08:38] oleurud commented on #368
Showing the function code:
[code]
it seems to be correct and I agree the problem looks like the `search_path` does not have `cartodb`.

[2019-10-25 08:54] gonzaloriestra commented on #368
No, I think we could disable it in the destination database before starting, and then enable it again when it finishes. And finally run the process to sync everything.

- To disable: `SELECT cartodb.CDB_DisableGhostTablesTrigger()` or `user.db_service.drop_ghost_tables_event_trigger`
- To enable: `SELECT cartodb.CDB_EnableGhostTablesTrigger()` or `user.db_service.create_ghost_tables_event_trigger`

[2019-11-19 12:01] Algunenano commented on #50
No longer necessary once JSON support is available for all users.

[2019-11-19 12:01] #50 closed

[2019-11-19 12:09] Algunenano commented on #248
No longer an issue

[2019-11-19 12:09] #248 closed

[2019-11-19 12:09] Algunenano commented on #10
Stale

[2019-11-19 12:09] #10 closed

[2019-11-19 12:11] Algunenano commented on #166
Should be ok now

[2019-11-19 12:11] #166 closed

[2019-11-19 12:12] Algunenano commented on #157
Should be ok now

[2019-11-19 12:12] #157 closed

[2019-11-19 12:12] Algunenano commented on #54
Stale

[2019-11-19 12:12] #54 closed

[2019-11-19 12:13] Algunenano commented on #132
Should be ok now

[2019-11-19 12:13] #132 closed

[2019-11-19 12:13] Algunenano commented on #125
Should be ok now

[2019-11-19 12:13] #125 closed

[2019-11-19 12:13] Algunenano commented on #51
Stale

[2019-11-19 12:13] #51 closed

[2019-11-19 12:14] Algunenano commented on #49
Stale

[2019-11-19 12:14] #49 closed

[2019-11-19 12:14] Algunenano commented on #179
Should be ok now

[2019-11-19 12:14] #179 closed

[2019-11-19 12:15] Algunenano commented on #314
Stale

[2019-11-19 12:15] #314 closed

[2019-11-19 12:15] Algunenano commented on #292
Should be ok now

[2019-11-19 12:15] #292 closed

[2019-11-19 12:15] Algunenano commented on #217
Never gonna happen

[2019-11-19 12:15] #217 closed

[2019-11-19 12:17] Algunenano commented on #294
The extension uses plpythonu to open http connections, which is unsafe by nature.

[2019-11-19 12:17] #294 closed

[2019-11-19 12:18] Algunenano commented on #271
Not happening

[2019-11-19 12:18] #271 closed

[2019-11-19 12:18] Algunenano commented on #303
Stale

[2019-11-19 12:18] #303 closed

[2019-11-19 12:18] Algunenano commented on #304
Stale

[2019-11-19 12:18] #304 closed

[2019-11-19 12:19] Algunenano commented on #216
Stale

[2019-11-19 12:19] #216 closed

[2019-11-19 12:19] Algunenano commented on #289
Stale. For MVTs this is already handled by ST_AsMVTGeom

[2019-11-19 12:19] #289 closed

[2019-11-19 12:20] Algunenano commented on #142
Should be ok now

[2019-11-19 12:20] #142 closed

[2019-11-19 12:24] Algunenano commented on #282
Unrelated to this project

[2019-11-19 12:24] #282 closed

[2020-01-21 16:01] rafatower opened #393 "CDB_Federated_Server_Diagnostics may fail w/ collations are not supported by type name"
During testing of FT from @josemazo:
[code]

this is due to a collation incompatibility. It is a rather complex topic that you can read about here: https://www.postgresql.org/docs/current/collation.html

[2020-01-21 16:09] rafatower commented on #393
Possible fix here: https://github.com/CartoDB/cartodb-postgresql/pull/394

Tested in dbd-team:
[code]

[2020-01-22 17:05] rafatower commented on #393
This is more generic and is gonna affect other parts of the code: https://rollbar.com/carto/CartoDB/items/40833/

[2020-01-22 17:17] rafatower commented on #393
The new error as seen from the DB:
[code]

The affected function is `CDB_Federated_Server_List_Remote_Tables` and the troublesome tables ( in this case `geography_columns`) are from `postgis` in the schema `public`, so this is going to affect more than I expected.

[2020-01-24 13:55] oriolbx commented on #393
@rafatower Is this for RT?

[2020-01-24 14:25] rafatower commented on #393
No, sorry, my mistake. At least not yet. Will remove from there.

[2020-02-11 20:34] alrocar commented on #368
We merged a fix. I'm closing this one.

[2020-02-11 20:34] #368 closed

[2020-04-28 04:10] Niyokee opened #398 "installcheck error"
I can't pass the tests.
Now I'm using the latest version '0.36'
[code]

According to this issue https://github.com/CartoDB/cartodb-postgresql/issues/353#issue-447321911
installing redis will solve this `test test/CDB_GhostTables     ... FAILED`  but it doesn't.

Can you confirm the same issue?
I will be grateful for any help you can provide.

[2020-04-28 08:31] Algunenano commented on #398
Hi, without seeing the output of the logs it's impossible for us to diagnose this.

[2020-11-16 16:49] #398 closed

[2020-11-16 16:51] #147 closed

[2020-11-16 16:56] Algunenano commented on #293
No longer a thing.

[2020-11-16 16:56] #293 closed

[2020-11-16 16:58] #37 closed

[2020-11-23 15:50] Algunenano commented on #352
This should have been fixed when we added the schema to all function calls and types inside the extension. In any case, I'll modify the condition to check just the extension schema and not the whole `pg_type`.

[2020-11-24 12:54] #352 closed

[2021-02-09 22:39] knownasilya opened #403 "Cant install in docker: could not open extension control file"
[code]

Installed with:

[code]

[2021-02-10 10:17] knownasilya commented on #403
Looks like one of the deps was installing a conflicting version of pg.

[2021-02-10 10:17] #403 closed, assigned to nobody

[2022-04-18 23:57] mhkeller opened #406 "Why DROP FUNCTION in CDB_EqualIntervalBins.sql?"
Hi, I'm curious why the last line in the SQL file for the CDB_EqualIntervalBins includes a `DROP FUNCTION` line? It seems to drop the function that was just created: https://github.com/CartoDB/cartodb-postgresql/blob/667ec0e32c7af1edb1dac3249bf7e889ca2176ba/scripts-available/CDB_EqualIntervalBins.sql#L24

[2022-07-02 07:18] #186 closed

[2022-07-02 07:19] #239 closed

[2022-08-10 15:23] 1Map opened #407 "ERROR: value out of range: underflow"
ERROR:  value out of range: underflow
CONTEXT:  PL/pgSQL function cdb_hexagongrid(geometry,double precision,geometry) line 39 at assignment